.card {
  cursor: pointer;
  vertical-align: top;
  width: 100%;
  max-width: 20rem;

  &.placeholder.tmp {
    background: #004f99;
    border-radius: 10px;
    color: white;
    cursor: grab;
    height: 180px;
  }
}

.card + .card {
  margin-left: 2.5rem;
}
