@import "../variables";

body {
  padding-top: 11.75rem;

  > header {
    background: white;
    border-bottom: solid 1px $silverSand;
    height: 11.75rem;
    min-height: 4rem;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: height 0.2s ease-out;
    -moz-transition: height 0.2s ease-out;
    -o-transition: height 0.2s ease-out;
    transition: height 0.2s ease-out;
    z-index: 1;

    a:hover {
      text-decoration: none;
    }

    &.horizontal {
      h1 {
        position: absolute;
      }

      .menu {
        nav {
          padding: 0 0 0.75rem 0;
          transform: translateX(50%);
          -webkit-transition: transform 0.2s ease-out;
          -moz-transition: transform 0.2s ease-out;
          -o-transition: transform 0.2s ease-out;
          transition: transform 0.2s ease-out;

          ul {
            transform: translateX(-50%);
            -webkit-transition: transform 0.2s ease-out;
            -moz-transition: transform 0.2s ease-out;
            -o-transition: transform 0.2s ease-out;
            transition: transform 0.2s ease-out;
          }
        }
      }
    }

    > div {
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      max-width: 70rem;
      padding: 2rem 1rem 0;
      position: absolute;

      h1 {
        color: $eerieBlack;
        font-weight: 100;

        @media (max-width: 330px) {
          font-size: 1.875rem;
        }
      }

      .menu {
        nav {
          padding-bottom: 2rem;

          ul {
            display: inline-block;

            li {
              padding: 0 0.35rem;
            }
          }
        }

        .menu-button {
          background-color: transparent;
          display: none;
          padding-left: 13px;
          position: relative;
          transition-duration: 0.15s;
          transition-property: opacity, filter;
          transition-timing-function: linear;
          width: 66px;
          height: 50px;

          > div {
            border-radius: 4px;
            background-color: black;
            display: block;
            margin-top: -2px;
            position: absolute;
            transition-duration: 0.22s;
            transition-property: transform;
            transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            width: 40px;
            height: 4px;

            &:after {
              background-color: black;
              border-radius: 4px;
              bottom: -10px;
              content: "";
              display: block;
              position: absolute;
              transition: bottom 0.1s ease-in 0.25s,
                transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
              width: 40px;
              height: 4px;
            }

            &:before {
              background-color: black;
              border-radius: 4px;
              content: "";
              display: block;
              position: absolute;
              top: -10px;
              transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
              width: 40px;
              height: 4px;
            }
          }
        }

        &.open {
          .menu-button {
            > div {
              transform: rotate(225deg);
              transition-delay: 0.12s;
              transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

              &:after {
                bottom: 0;
                transition: bottom 0.1s ease-out,
                  transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
                transform: rotate(-90deg);
              }

              &:before {
                opacity: 0;
                top: 0;
                transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
              }
            }
          }
        }
      }
    }

    @media (max-width: 635px) {
      height: 7rem;

      > div {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 2rem 1rem;
        top: 0;

        h1 {
          margin-bottom: 0.5rem;
        }

        .menu {
          z-index: 1;

          .menu-button {
            display: inline-block;
          }

          nav {
            background: rgba(white, 0.9);
            height: 0;
            overflow: hidden;
            padding: 0;
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            -webkit-transition: height 0.5s, top 0.2s ease-out;
            -moz-transition: height 0.5s, top 0.2s ease-out;
            -o-transition: height 0.5s, top 0.2s ease-out;
            transition: height 0.5s, top 0.2s ease-out;

            ul {
              opacity: 0;
              -webkit-transition: 0.5s;
              -moz-transition: 0.5s;
              -o-transition: 0.5s;
              transition: 0.5s;

              li {
                display: block;
                padding: 0 0.35rem 2rem 0.35rem;
              }
            }
          }

          &.open {
            nav {
              ul {
                opacity: 1;
                padding-top: 2rem;
              }

              &.opened {
                min-height: 100%;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 635px) {
    padding-top: 7rem;

    &.hide-overflow {
      overflow: hidden;
    }
  }
}
