.product-details {
  .contact {
    margin-left: -1rem;

    a {
      background: $cultured;
      border-radius: 10px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3), 0 -1px 0px rgba(0, 0, 0, 0.03);
      display: inline-block;
      margin: 1rem 0 0 1rem;
      max-width: calc(100% - 1rem);
      padding: 0.45rem 1rem 0.55rem 1rem;
      position: relative;

      &::before {
        background: black;
        border-radius: 10px;
        content: "";
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      &:hover::before {
        opacity: 0.05;
      }

      &:active::before {
        opacity: 0.1;
      }

      &.email {
        svg {
          font-size: 1.25rem;
          margin-bottom: -0.3rem;
        }
      }

      &.messenger {
        svg {
          margin-bottom: -0.2rem;
          font-size: 1rem;
        }
      }

      svg {
        margin-right: 0.5rem;
      }
    }
  }

  .options {
    margin-top: 2rem;

    .checkbox.row {
      margin: -1.5rem 0 0 -1rem;

      > * {
        flex-basis: 50px;
        margin-left: 1rem;
      }

      p {
        text-align: left;
      }

      .icon {
        color: $grey;
        cursor: pointer;
        flex-basis: auto;
        flex-grow: 0;
        font-size: 2rem;

        &:hover {
          color: $darkGrey;
        }

        &:active {
          color: black;
        }
      }
    }
  }

  .price {
    margin-top: 0.5rem;

    > * {
      display: inline;
    }

    h3 {
      span.cents {
        font-size: 0.8em;
      }
    }
  }
}
