.sliding-banner {
  background-color: black;
  position: relative;

  .container {
    margin: 0 auto;
    max-width: 120rem;
    position: relative;

    ul {
      left: 0;
      right: 0;
      bottom: 5%;
      position: absolute;
      text-align: center;

      li.circle {
        background: white;
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
        height: 10px;
        width: 10px;
        opacity: 25%;

        &:hover {
          opacity: 50%;
        }

        &.current {
          opacity: 1;
        }
      }

      li + li {
        margin-left: 15px;
      }
    }

    .arrow {
      color: white;
      cursor: pointer;
      display: none;
      height: 6rem;
      margin: auto;
      opacity: 50%;
      position: absolute;
      top: 0;
      bottom: 0;

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }

      &:hover {
        opacity: 1;
      }
    }

    .images {
      display: flex;
      overflow: hidden;

      img {
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 5s;
      }
    }

    &:hover {
      .arrow {
        display: block;
      }
    }
  }
}
