{% extends "templates/layout.njk" %}
{% set tab = "products" %}

{% block meta %}
  <link rel="canonical" href="https://patryktrajder.com/products/super-booster-2000/"/>
  <meta name="description" content="Wykrawarka / otwornica do łączenia rur i profili cienko i grubościennych pod dowolnym kątem. Zapewnia szybkie i precyzyjne wycinanie. Zacznij zakupy już dziś!">
  <title>Wykrawarka do rur | Patryk Trajder</title>
{% endblock meta %}

{% block vectors %}
  {% include "vectors/arrow-left.sym" %}
  {% include "vectors/arrow-right.sym" %}
  {% include "vectors/close.sym" %}
  {% include "vectors/check-square.sym" %}
  {% include "vectors/mail.sym" %}
  {% include "vectors/messenger.sym" %}
  {% include "vectors/square.sym" %}
  {% include "vectors/chevron-up.sym" %}
  {% include "vectors/chevron-down.sym" %}
{% endblock %}

{% block body %}
  <main id="super-booster-2000">
    <article>
      <header class="gap-top">
        <nav class="categories">
          <a href="instruction/" title="Instrukcja montażu">
            <p>
              Instrukcja montażu
            </p>
          </a>
          <a href="#presentation" title="Prezentacja możliwości">
            <p>
              Prezentacja możliwości
            </p>
          </a>
          {# <a href="equipment" title="Wyposażenie">
            <p>
              Wyposażenie
            </p>
          </a> #}
        </nav>
        <h1 class="gap-top">Wykrawarka do rur - Super Booster 2000</h1>
      </header>

      <section class="row">
        <div class="gallery">
          <div class="full">
            <div class="container">
              <img/>
              <button class="close">
                <svg class="icon">
                  <use xlink:href="#icon-close"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="preview" style="max-width: 84.375%;">
            <div class="image-loading" style="padding-top: 66.6667%;">
              <img src="/assets/images/super-booster-2000/gallery1-h400.jpg" alt="wszystkie elementy do budowy wykrawarki"/>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="slider">
            <div class="wrapper">
              <div class="items">
                <img data-ratio="66.6667" style="width: 18.3111vw; max-width: 10.6667rem" draggable="false" src="/assets/images/super-booster-2000/gallery1-h100.jpg"/>
                <img draggable="false" src="/assets/images/super-booster-2000/gallery2-h100.jpg"/>
                <img draggable="false" src="/assets/images/super-booster-2000/gallery3-h100.jpg"/>
                <img draggable="false" src="/assets/images/super-booster-2000/gallery4-h100.jpg"/>
                <img draggable="false" src="/assets/images/super-booster-2000/gallery5-h100.jpg"/>
                <img draggable="false" src="/assets/images/super-booster-2000/detail6-h100.jpg"/>
              </div>
            </div>
            <button class="arrow left">
              <svg class="icon">
                <use xlink:href="#icon-arrow-left"></use>
              </svg>
            </button>
            <button class="arrow right">
              <svg class="icon">
                <use xlink:href="#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="product-details">
          <h2>Cena</h2>
          <div class="price">
            <h3>
              <span class="value">689</span>,<span class="cents">00</span>&#32;PLN (brutto)</h3>
          </div>
          <div class="contact">
            <a class="messenger" href="https://www.messenger.com/t/patryktrajder" rel="noreferrer" target="_blank" title="Napisz do mnie na Messengerze">
              <svg class="icon">
                <use xlink:href="#icon-messenger"></use>
              </svg>Messenger</a>
            <a class="email" href="mailto:sklep@trajder.com" target="_blank" title="sklep@trajder.com">
              <svg class="icon">
                <use xlink:href="#icon-mail"></use>
              </svg>Email</a>
          </div>
          <div class="options">
            <div>Specjalnie dla Was, daję możliwość modyfikacji zamówienia - tak, aby cena była przystępna dla każdego. Koszt produkcji wałka na maszynach cnc z zachowaniem jakości którą sobie narzuciłem jest na tyle drogi, że być może ktos kto ma dostęp do tokarki, postanowi zaoszczedzić i zrobic go we własnym zakresie trochę taniej. 😉</div>
            <div class="checkbox row">
              <svg class="icon">
                <use xlink:href="#icon-square"></use>
              </svg>
              <span>
                <p>1× toczony hartowany wał z orginalnym adapterem do mocowania otwornic (+90 PLN).</p>
              </span>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="row gap-top">
          <div>
            <p>
              Cały zamysł konstrukcji zaprojektowałem już 5 lat temu, od tego czasu starałem się wprowadzać cały czas modyfikacje, aby był jak najlepszy. Najnowsza wersja jest ulepszona o m.in.
              <br>
              hartowany wał (taki sam jakiego używa się do produkcji siłowników w maszynach budowlanych), specjalną końcówkę do szybkiej wymiany otwornic, kątownik z podziałką do łatwego i szybkiego ustawienia przyrządu pod daną pracę, zawleczki (aby docisk materiału zawsze trzymał się na swoim miejscu), blokadę kąta dla powtarzalosci cięć, i kilka innych ulepszeń, które znacząco podnoszą komfort pracy. Jednak zarazem podniosły cenę 😉 Moim celem było stworzenie produktu o jak najlepszych paramatrach oraz w cenie przystępnej dla każdego. Na początku zakładałem sprzedaż zestawu trochę taniej, jednak doszedłem do wniosku, że podniesienie jakości bedzie dobrą decyzją.
            </p>
          </div>
          <div>
            <div class="image-loading">
              <img src="/assets/images/super-booster-2000/thumb-w1120.jpg" alt="prezentacja złożonej wykrawarki do rur"/>
            </div>
          </div>
        </div>

        <div>
          <p class="single-out">W skład zestawu wchodzi:</p>

          <ul class="dots">
            <li>
              <p>
                11x blachy wycinane Laserem (przygotowane do spawania poprzez obróbkę krawędzi, otworów, gwintowanie itd; dokladność wyciętych elementów to 0,03 MM, wycinane na jednym z najlepszych dostepnych źródeł lasera w polsce)
              </p>
            </li>
            <li>
              <p>2x podstawka pod łożyska</p>
            </li>
            <li>
              <p>1x słupek z gwintem M20</p>
            </li>
            <li>
              <p>
                1x komplet śrub (zgodnie ze zdjęciami, łącznie 18 elementów)
              </p>
            </li>
            <li>
              <p>1x zawleczka - do docisku</p>
            </li>
            <li>
              <p>1x toczony docisk materiału obrabianego M20</p>
            </li>
            <li>
              <p>
                1x końcówka do szybkiej wymiany otwornic (zakładana na wałek)
              </p>
            </li>
            <li>
              <p>1x toczony hartowany wał</p>
            </li>
            <li>
              <p>2x łożysko MGK</p>
            </li>
            <li>
              <p>1x podkładka ślizgowa pomiędzy blachy</p>
            </li>
            <li>
              <p>2x wkręt typu&#32;<q>robak</q>&#32;do złożenia wałka</p>
            </li>
            <li>
              <p>
                1x grawerowany kątownik wraz z logo - aktualnie gratis (cena zakupu 25zł)
              </p>
            </li>
            <li>
              <p>1x nit do dokładnego odczytu aktualnego kątu</p>
            </li>
            <li>
              <p>1x instrukcje montażu w formie elektronicznej (zdjęcia)</p>
            </li>
            <li>
              <p>1x klucz fajkowy imbusowy (brak na zdjęciu)</p>
            </li>
            <li>
              <p>1x blokada kąta, dla powtarzalności cięć</p>
            </li>
          </ul>

          <p class="gap-top">
            Zestaw kompletny, przygotowany do złożenia. Czas potrzebny na złożenie zestawu to około 30 minut. Poniżej lista z niezbędnymi narzędziami potrzebnymi do budowy. ;)
          </p>
        </div>

        <div class="expander materials shrink gap-top">
          <header>
            <p>Narzędzia potrzebne do złożenia zestawu</p>
          </header>
          <div class="container">
            <ul class="dots">
              <li>
                <p>jakakolwiek spawarka np. TIG, MIG, MAG, MMA (elektrody),</p>
              </li>
              <li>
                <p>szlifierka kątowa (do zabielenia miejsc spawanych),</p>
              </li>
              <li>
                <p>kątownik,
                </p>
              </li>
              <li>
                <p>2× ścisk stolarski,</p>
              </li>
              <li>
                <p>klucz płasko-oczkowy 8 mm,</p>
              </li>
              <li>
                <p>klucz płasko-oczkowy 12 mm,</p>
              </li>
              <li>
                <p>klucz płasko-oczkowy 19 mm,</p>
              </li>
              <li>
                <p>klucz płasko-oczkowy 30 mm,</p>
              </li>
              <li>
                <p>wymiennie do powyższego można użyć szczypiec nastawnych do rur,</p>
              </li>
              <li>
                <p>opcjonalnie młotek (bo bez młota to nie robota xd),
                </p>
              </li>
              <li>
                <p>typowa odzież ochronna: okulary ochronne do szlifierki, rękawice do spawania itp. ;)
                </p>
              </li>
            </ul>
          </div>
          <button>
            <svg class="icon">
              <use xlink:href="#icon-chevron-down"></use>
            </svg>
          </button>
        </div>

        <p class="single-out-link">
          <a href="instruction/" title="Instrukcja montażu">Instrukcja montażu</a>
        </p>
        <div class="row gap-top">
          <div>
            <div class="image-loading ratio3to2">
              <img src="/assets/images/super-booster-2000/detail2-w1120.jpg" alt="słupek z gwintem"/>
            </div>
          </div>
          <div>
            <p>
              Jak możesz zauwazyć, na zdjęciu obok miejsce, gdzie trzeba przyspawać&#32;<q>słupek z gwintem</q>, zostało natrasowane poprzez grawer laserem z dokładnością do 1 setnej milimetra, co w połączeniu z pasowaniem na wpusty gwarantuje przyjemną pracę bez niespodzianek 😉
            </p>
          </div>
        </div>

        <div class="row">
          <div>
            <div class="image-loading">
              <img src="/assets/images/super-booster-2000/equipment/metal-sheet/detail2-w1120.jpg" alt="elementy do budowy wykrawarki"/>
            </div>
          </div>
          <div>
            <p>
              Cały zestaw do złożenia zaprojektowałem w taki sposób aby ułatwić jego montaż, tak aby nawet początkujący majsterkowicz nie miał z nim żadnych problemów, a cały proces składania przypominał bardziej zabawę aniżeli pracę. 😉
            </p>
          </div>
        </div>

        <div class="row">
          <div>
            <div class="image-loading ratio3to2">
              <img src="/assets/images/super-booster-2000/detail3-w1120.jpg" alt="kątownik do precyzyjnego ustawiania kątu"/>
            </div>
          </div>
          <div>
            <p>
              Specjalnie wyskalowany kątownik będzię waszym najlepszym kumplem podczas pracy, ponieważ zaoszczedzi mase czasu oraz przypilnuję powtarzalności cięć 😉
            </p>
          </div>
        </div>

        <div class="row">
          <div>
            <div class="image-loading">
              <img src="/assets/images/super-booster-2000/detail4-w1120.jpg" alt="metalowe podstawki pod łożyska"/>
            </div>
          </div>
          <div>
            <p>
              W zestawie dokładam wszelkich starań nawet tam gdzie pozornie nie są wymagane, idealnym tego przykładem są szlifowane pod kątem krawędzie m.in. podstawek pod łożyska, czy słupek z gwintemM20, jest to zabieg tylko stylistyczny nie wpływający na pracę przystawki
            </p>
          </div>
        </div>

        <div class="row">
          <div>
            <div class="image-loading">
              <img src="/assets/images/super-booster-2000/detail5-w1120.jpg" alt="blacha z otworami fasolkowymi"/>
            </div>
          </div>
          <div>
            <p>
              Dzięki zastosowaniu fasolek do mocowania łożysk mamy możliwość bardzo szybkiej regulacji, a co najważniejsze bezstopniowej. Ma to szczególne znaczenie, gdy chcemy często zmieniać rozmiar obrabianej rury czy profilu.
            </p>
          </div>
        </div>

        <div class="row">
          <div>
            <div class="image-loading">
              <img src="/assets/images/super-booster-2000/detail6-w1120.jpg" alt="wałek z adapterem do otwornic"/>
            </div>
          </div>
          <div>
            <p>
              Połączenie walka z otwornica było dla mnie największym wyzwaniem. Początkowo gwintowałem sam pręt jednak to połączenie nie sprawdzało się w przypadku używania większych otwornic. Postanowiłem nie wyważać otwartych drzwi i zastosowałem orginalny adapter do mocowania otwornic. Posiada on specjalne trzpienie które przejmują na siebie cała energię zapobiegając uszkodzeniu gwintu.
            </p>
          </div>
        </div>
      </section>
      <section id="presentation" class="gap-top-medium">
        <h1>Prezentacja możliwości</h1>

        <div class="row">
          <div>
            <div class="image-loading ratio4to3">
              <img src="/assets/images/super-booster-2000/pipe1-w1120.jpg" alt="precyzyjne wycięcie pod kątem prostym"/>
            </div>
          </div>
          <div>
            <p>
              W maszynce możemy wykrawać rury od 28 do 91mm, czego przykładem jest zdjęcie obok ;)
            </p>
          </div>
        </div>

        <div class="row">
          <div>
            <div class="image-loading ratio4to3">
              <img src="/assets/images/super-booster-2000/pipe2-w1120.jpg" alt="cięcie pod kątem prostym"/>
            </div>
          </div>
          <div>
            <p>
              przykład połączenia rury 91mm pod kątem prostym.
            </p>
          </div>
        </div>

        <div class="row">
          <div>
            <div class="image-loading ratio4to3">
              <img src="/assets/images/super-booster-2000/pipe3-w1120.jpg" alt="prezenracja precyzyjnego wycięcia"/>
            </div>
          </div>
          <div>
            <p></p>
          </div>
        </div>

        <div class="row">
          <div>
            <div class="image-loading ratio4to3">
              <img src="/assets/images/super-booster-2000/pipe4-w1120.jpg" alt="precyzyjne cięcie pod kątem 45 stopni"/>
            </div>
          </div>
          <div>
            <p></p>
          </div>
        </div>

        <div class="row">
          <div>
            <div class="image-loading ratio4to3">
              <img src="/assets/images/super-booster-2000/pipe5-w1120.jpg" alt="cięcie pod kątem 45 stopni"/>
            </div>
          </div>
          <div>
            <p></p>
          </div>
        </div>

        <p class="gap-top">
          Poniżej przedstawiam Tobie film z pokazem możliwości mojej maszynki. Film nie został jeszcze zaktualizowany i przedstawiony jest na nim stary model maszynki. Nowsza wersja została ulepszona, ale zasada pracy oraz montażu jest identyczna więc pozwoliłem sobie na tymczasowe dodanie filmu 😉
        </p>

        <div class="yt-video">
          <div>
            <iframe src="https://www.youtube-nocookie.com/embed/OaNSVxAPvso?rel=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" title="Super Booster 2000 - prezentacja"></iframe>
          </div>
        </div>
      </section>

    </article>
  </main>
{% endblock %}