{% extends "templates/layout.njk" %}
{% set tab = "products" %}

{% block vectors %}
  {% include "vectors/close.sym" %}
{% endblock %}

{% block body %}
  <main>
    <article>
      <header class="topGap">
        <section class="categories">
          <a href="instruction/">
            <p>
              Instrukcja montażu
            </p>
          </a>
          <a href="#presentation">
            <p>
              Prezentacja możliwości
            </p>
          </a>
        </section>
        <h1 class="topGap">Tube Notcher - Super Booster 2000</h1>
      </header>

      <section class="topGap">
        <div class="gallery">
          <div class="full">
            <div class="container">
              <img/>
              <button class="close">
                <svg class="icon">
                  <use xlink:href="#icon-close"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="preview">
            <img src="/assets/images/super-booster-2000/gallery1-h400.jpg"/>
          </div>
          <div class="thumbList">
            <div class="thumbListItems">
              <img draggable="false" src="/assets/images/super-booster-2000/gallery1-h100.jpg"/><img draggable="false" src="/assets/images/super-booster-2000/gallery2-h100.jpg"/><img draggable="false" src="/assets/images/super-booster-2000/gallery3-h100.jpg"/><img draggable="false" src="/assets/images/super-booster-2000/gallery4-h100.jpg"/><img draggable="false" src="/assets/images/super-booster-2000/gallery5-h100.jpg"/><img draggable="false" src="/assets/images/super-booster-2000/detail6-h100.jpg"/>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="row topGap">
          <div>
            <p>
              Cały zamysł konstrukcji, zaprojektowałem już 5 lat temu, od tego czasu starałem się wprowadzać cały czas modyfikację aby był jak najlepszy. Najnowsza wersja jest ulepszona o m.in.<br>hartowany wał - taki sam jakiego używa się do produkcji siłowników w maszynach budowlanych -, specjalną końcówkę do szybkiej wymiany otwornic, kątownik z podziałką do łatwego i szybkiego ustawienia przyrządu pod daną pracę, zawleczki - aby docisk materiału zawsze trzymał się na swoim miejscu -, blokadę kąta dla powtarzalosci cięć, i kilka innych ulepszeń, które znacząco podnoszą komfort pracy. Jednak zarazem podniosły cenę 😉 Moim celem było stworzenie produktu o jak najlepszych paramatrach oraz w cenie przystępnej dla każdego. Na początku zakładałem sprzedaż zestawu trochę taniej, jednak doszedłem do wniosku, że podniesienie jakości bedzie dobrą decyzją.
            </p>
          </div>
          <div>
            <img src="/assets/images/super-booster-2000/thumb-w1120.jpg"/>
          </div>
        </div>

        <div>
          <p class="single-out">W skład zestawu wchodzi:</p>

          <ul class="dots">
            <li>
              <p>
                11x blachy wycinane Laserem ( przygotowane do spawania poprzez obróbkę krawędzi, otworów, gwintowanie itd; dokladność wyciętych elementów to 0,03 MM, wycinane na jednym z najlepszych dostepnych źródeł lasera w polsce)
              </p>
            </li>
            <li>
              <p>2x podstawka pod łożyska</p>
            </li>
            <li>
              <p>1x słupek z gwintem M20</p>
            </li>
            <li>
              <p>
                1x komplet śrub (zgodnie ze zdjęciami, łącznie 18 elementów)
              </p>
            </li>
            <li>
              <p>1x zawleczka - do docisku</p>
            </li>
            <li>
              <p>1x toczony docisk materiału obrabianego M20</p>
            </li>
            <li>
              <p>
                1x końcówka do szybkiej wymiany otwornic (zakładana na wałek)
              </p>
            </li>
            <li>
              <p>1x toczony hartowany wał</p>
            </li>
            <li>
              <p>2x łożysko MGK</p>
            </li>
            <li>
              <p>1x podkładka ślizgowa pomiędzy blachy</p>
            </li>
            <li>
              <p>2x wkręt typu "robak" do złożenia wałka</p>
            </li>
            <li>
              <p>
                1x grawerowany kątownik wraz z logo - aktualnie gratis (cena zakupu 25zł)
              </p>
            </li>
            <li>
              <p>1x nit do dokładnego odczytu aktualnego kątu</p>
            </li>
            <li>
              <p>1x instrukcje montażu w formie elektronicznej ( zdjęcia )</p>
            </li>
            <li>
              <p>1x klucz fajkowy imbusowy ( brak na zdjęciu )</p>
            </li>
            <li>
              <p>1x blokada kąta, dla powtarzalności cięć</p>
            </li>
          </ul>

          <p class="topGap">
            Zestaw kompletny, przygotowany do złożenia. Czas potrzebny na złożenie zestawu to około 30 minut. Do tego celu potrzebujemy jakąkolwiek spawarkę: mma, tig, lub elektrody.
          </p>
        </div>

        <p class="single-out-link">
          <a href="instruction/">Instrukcja montażu</a>
        </p>
        <div class="row topGap">
          <div>
            <img src="/assets/images/super-booster-2000/detail2-w1120.jpg"/>
          </div>
          <div>
            <p>
              Jak możesz zauwazyć na zdjęciu obok miejsce gdzie trzeba przyspawać " słupek z gwintem" zostało natrasowane poprzez grawer laserem z doklanoscia do 1 setnej milimetra , co w połaczeniu z pasowaniem na wpusty gwarantuje przyjemną pracę bez niespodzianek 😉
            </p>
          </div>
        </div>

        <div class="row">
          <div>
            <img src="/assets/images/super-booster-2000/detail1-w1120.jpg"/>
          </div>
          <div>
            <p>
              Cały zestaw do złożenia zaprojektowałem w taki sposób aby ułatwić jego montaż, tak aby nawet początkujący majsterkowicz nie miał z nim żadnych problemów, a cały proces składania przypominał bardziej zabawę, a niżeli pracę. 😉
            </p>
          </div>
        </div>

        <div class="row">
          <div>
            <img src="/assets/images/super-booster-2000/detail3-w1120.jpg"/>
          </div>
          <div>
            <p>
              Specjalnie wyskalowany kątownik będzię waszym najlepszym kumplem podczas pracy, ponieważ zaoszczedzi mase czasu oraz przypilnuję powtarzalności cięć 😉
            </p>
          </div>
        </div>

        <div class="row">
          <div>
            <img src="/assets/images/super-booster-2000/detail4-w1120.jpg"/>
          </div>
          <div>
            <p>
              W zestawie dokładam wszelkich starań nawet tam gdzie pozornie nie są wymagane, idealnym tego przykładem są szlifowane pod kątem krawędzie m.in. podstawek pod łożyska, czy słupek z gwintemM20, jest to zabieg tylko stylistyczny nie wpływający na pracę przystawki
            </p>
          </div>
        </div>

        <div class="row">
          <div>
            <img src="/assets/images/super-booster-2000/detail5-w1120.jpg"/>
          </div>
          <div>
            <p>
              Dzięki zastosowaniu fasolek do mocowania łożysk mamy możliwość bardzo szybkiej regulacji, a co najważniejsze bezstopniowej. Ma to szczególne znaczenie, gdy chcemy często zmieniać rozmiar obrabianej rury czy profilu.
            </p>
          </div>
        </div>

        <div class="row">
          <div>
            <img src="/assets/images/super-booster-2000/detail6-w1120.jpg"/>
          </div>
          <div>
            <p>
              Połączenie walka z otwornica było dla mnie największym wyzwaniem. Początkowo gwintowałem sam pręt jednak to połączenie nie sprawdzało się w przypadku używania większych otwornic. Postanowiłem nie wyważać otwartych drzwi i zastosowałem orginalny adapter do mocowania otwornic. Posiada on specjalne trzpienie które przejmują na siebie cała energię zapobiegając uszkodzeniu gwintu.
            </p>
          </div>
        </div>
      </section>
      <section id="presentation" class="topGapMedium">
        <h1>Prezentacja możliwości</h1>

        <div class="row">
          <div>
            <img src="/assets/images/super-booster-2000/pipe1-w1120.jpg"/>
          </div>
          <div>
            <p>
              W maszynce możemy wykrawać rury od 20 do 91mm , czego przykładem jest zdjęcie obok ;)
            </p>
          </div>
        </div>

        <div class="row">
          <div>
            <img src="/assets/images/super-booster-2000/pipe2-w1120.jpg"/>
          </div>
          <div>
            <p>
              przykład połączenia rury 91mm pod kątem prostym.
            </p>
          </div>
        </div>

        <p class="topGap">
          Poniżej przedstawiam Tobie film z pokazem możliwości mojej maszynki. Film nie został jeszcze zaktualizowany i przedstawiony jest na nim stary model maszynki. Nowsza wersja została ulepszona, ale zasada pracy oraz montażu jest identyczna więc pozwoliłem sobie na tymczasowe dodanie filmu 😉
        </p>

        <div class="yt-video">
          <div>
            <iframe src="https://www.youtube.com/embed/OaNSVxAPvso?rel=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
          </div>
        </div>
      </section>

    </article>
  </main>
{% endblock %}