@import "variables.scss";

* {
  box-sizing: border-box;
}

a {
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 7rem;

  > header {
    background: white;
    border-bottom: solid 1px $silverSand;
    padding: 2rem 1rem 0;
    text-align: center;
    min-height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: height 0.2s linear;
    -moz-transition: height 0.2s linear;
    -o-transition: height 0.2s linear;
    transition: height 0.2s linear;
    z-index: 1;

    a:hover {
      text-decoration: none;
    }

    h1 {
      color: $eerieBlack;
      font-weight: 100;

      @media (max-width: 330px) {
        font-size: 1.875rem;
      }
    }

    .menu {
      .menu-button {
        background-color: transparent;
        display: none;
        padding-left: 13px;
        position: relative;
        transition-duration: 0.15s;
        transition-property: opacity, filter;
        transition-timing-function: linear;
        width: 66px;
        height: 50px;

        > div {
          border-radius: 4px;
          background-color: black;
          display: block;
          margin-top: -2px;
          position: absolute;
          transition-duration: 0.22s;
          transition-property: transform;
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          width: 40px;
          height: 4px;

          &:after {
            background-color: black;
            border-radius: 4px;
            bottom: -10px;
            content: "";
            display: block;
            position: absolute;
            transition: bottom 0.1s ease-in 0.25s,
              transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            width: 40px;
            height: 4px;
          }

          &:before {
            background-color: black;
            border-radius: 4px;
            content: "";
            display: block;
            position: absolute;
            top: -10px;
            transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
            width: 40px;
            height: 4px;
          }
        }
      }

      &.open {
        .menu-button {
          > div {
            transform: rotate(225deg);
            transition-delay: 0.12s;
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

            &:after {
              bottom: 0;
              transition: bottom 0.1s ease-out,
                transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
              transform: rotate(-90deg);
            }

            &:before {
              opacity: 0;
              top: 0;
              transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
            }
          }
        }
      }
    }

    @media (max-width: 635px) {
      align-items: center;
      display: flex;
      justify-content: space-between;
      max-height: 7rem;
      padding: 2rem 1rem;

      h1 {
        margin-bottom: 0.5rem;
      }

      .menu {
        z-index: 1;

        .menu-button {
          display: inline-block;
        }

        nav {
          background: rgba(white, 0.9);
          height: 0;
          overflow: hidden;
          padding: 0;
          position: fixed;
          left: 0;
          right: 0;
          bottom: 0;
          -webkit-transition: height 0.5s;
          -moz-transition: height 0.5s;
          -o-transition: height 0.5s;
          transition: height 0.5s;

          ul {
            opacity: 0;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;

            li {
              display: block;
            }
          }
        }

        &.open {
          nav {
            ul {
              opacity: 1;
              padding-top: 2rem;
            }
          }
        }
      }
    }
  }

  @media (max-width: 635px) {
    &.hide-overflow {
      overflow: hidden;
    }
  }
}

button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

footer {
  color: $silverSand;
  background-color: $eerieBlack;
  margin-top: 2.5rem;
  padding-top: 2.5rem;

  p > a {
    color: $aliceBlue;
  }

  section.container {
    margin: 0 auto;
    padding: 0 1rem;
    width: 70rem;
    max-width: 100%;

    .links {
      p + p {
        margin-top: 0.1rem;
      }
    }

    .contact.row {
      margin-bottom: 3.5rem;

      h1 {
        margin-bottom: 0;
      }

      .social-media {
        > div {
          margin: -1rem 0 0 -1.3rem;

          a {
            margin-left: 1.3rem;
          }

          svg {
            font-size: 2.5rem;
            margin-top: 1rem;
          }
        }
      }
    }

    @media (max-width: 150px) {
      padding: 0;
    }
  }

  .copyright {
    color: $usafaBlue;
    margin: 3rem 2rem 2rem 2rem;
    text-align: center;

    a {
      color: $azure;
    }

    > div {
      background: $prussianBlue;
      border-radius: 10px;
      display: inline-block;
      max-width: 100%;
      padding: 0.3rem 1rem;

      ul.separated-list {
        display: inline-flex;
        flex-wrap: wrap;
        margin-right: -2px;
        overflow: hidden;

        li {
          border-left: solid 1px $usafaBlue;
          flex-grow: 1;
          margin: 0.25rem 2px 0.25rem -2px;
          max-width: 100%;
          overflow-wrap: break-word;
          padding: 0.3rem 1rem;
        }
      }
    }

    @media (max-width: 400px) {
      margin: 3rem 1rem 2rem 1rem;

      > div {
        padding: 0.3rem 0;
      }
    }

    @media (max-width: 150px) {
      margin: 0;

      > div {
        ul.separated-list {
          max-width: calc(100% - 2px);

          li {
            padding: 0.3rem 0;
          }
        }
      }
    }
  }

  .row {
    align-items: flex-start;
  }
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1rem;
  line-height: 1.3rem;
}

html {
  scroll-behavior: smooth;
}

main {
  margin: 0 auto;
  padding: 0 1rem;
  width: 70rem;
  max-width: 100%;

  img,
  .image-loading {
    border-radius: 10px;
  }

  @media (max-width: 150px) {
    padding: 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

nav {
  padding-bottom: 0.5rem;

  ul {
    > li {
      display: inline-block;
      max-width: 100%;
      padding: 0 0.35rem 2rem 0.35rem;
      text-shadow: white 0 0 5px;
      vertical-align: middle;

      > a {
        color: $eerieBlack;
        display: block;
        padding: 0.6rem 1.2rem;

        &:hover {
          color: $azure;
        }

        @media (max-width: 150px) {
          padding: 0.6rem 0;
        }
      }

      &.current {
        > a {
          font-weight: 900;
        }
      }
    }
  }
}

p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: justify;

  > a {
    color: $azure;
  }
}

.image-loading {
  animation: placeHolderShimmer 1.8s linear infinite forwards;
  background: #f6f7f8;
  background: linear-gradient(to right, #fafafa 8%, #f4f4f4 38%, #fafafa 54%);
  background-size: 1000px 640px;
  display: block;
  position: relative;
  padding-top: 56.25%;

  > img {
    position: absolute;
    top: 0;
    left: 0;
  }

  &.ratio3to2 {
    padding-top: 2/3 * 100%;
  }

  &.ratio4to3 {
    padding-top: 3/4 * 100%;
  }
}

.image-placeholder {
  display: block;
  position: relative;
  padding-top: 56.25%;

  > img {
    position: absolute;
    top: 0;
    left: 0;
  }
}
