@import "variables.scss";

* {
  box-sizing: border-box;
}

a {
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  > header {
    background: white;
    border-bottom: solid 1px #ccc;
    padding-top: 2em;
    position: relative;
    text-align: center;

    a:hover {
      text-decoration: none;
    }

    h1 {
      color: $eerieBlack;
      font-size: 2.5rem;
      font-weight: 100;
      margin-bottom: 2.5rem;
    }
  }
}

button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

footer {
  color: $silverSand;
  background-color: $eerieBlack;
  margin-top: 2.5rem;
  padding-top: 2.5rem;

  p > a {
    color: $aliceBlue;
  }

  section.container {
    margin: 0 auto;
    padding: 0 1rem;
    width: 70rem;
    max-width: 100%;

    .links {
      p + p {
        margin-top: 0.1rem;
      }
    }

    .contact.row {
      margin-bottom: 3.5rem;

      h1 {
        margin-bottom: 0;
      }

      .social-media {
        > div {
          margin: -1rem 0 0 -1.3rem;

          a {
            margin-left: 1.3rem;
          }

          svg {
            font-size: 2.5rem;
            margin-top: 1rem;
          }
        }
      }
    }

    @media (max-width: 150px) {
      padding: 0;
    }
  }

  .copyright {
    color: $usafaBlue;
    margin: 3rem 2rem 2rem 2rem;
    text-align: center;

    a {
      color: $azure;
    }

    > div {
      background: $prussianBlue;
      border-radius: 10px;
      display: inline-block;
      max-width: 100%;
      padding: 0.3rem 1rem;

      ul.separated-list {
        display: inline-flex;
        flex-wrap: wrap;
        margin-right: -2px;
        overflow: hidden;

        li {
          border-left: solid 1px $usafaBlue;
          flex-grow: 1;
          margin: 0.25rem 2px 0.25rem -2px;
          max-width: 100%;
          overflow-wrap: break-word;
          padding: 0.3rem 1rem;
        }
      }
    }

    @media (max-width: 400px) {
      margin: 3rem 1rem 2rem 1rem;

      > div {
        padding: 0.3rem 0;
      }
    }

    @media (max-width: 150px) {
      margin: 0;

      > div {
        ul.separated-list {
          max-width: calc(100% - 2px);

          li {
            padding: 0.3rem 0;
          }
        }
      }
    }
  }

  .row {
    align-items: flex-start;
  }
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1rem;
  line-height: 1.3rem;
}

html {
  scroll-behavior: smooth;
}

main {
  margin: 0 auto;
  padding: 0 1rem;
  width: 70rem;
  max-width: 100%;

  img,
  .image-loading {
    border-radius: 10px;
  }

  @media (max-width: 150px) {
    padding: 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

nav {
  margin-bottom: 0.5rem;

  > ul {
    > li {
      display: inline-block;
      max-width: 100%;
      padding: 0 0.35rem 2rem 0.35rem;
      vertical-align: middle;

      > a {
        color: $eerieBlack;
        display: block;
        padding: 0.6rem 1.2rem;

        &:hover {
          color: $azure;
        }

        @media (max-width: 150px) {
          padding: 0.6rem 0;
        }
      }

      &.current {
        > a {
          font-weight: 900;
        }
      }
    }
  }
}

p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: justify;

  > a {
    color: $azure;
  }
}

.image-loading {
  animation: placeHolderShimmer 1.8s linear infinite forwards;
  background: #f6f7f8;
  background: linear-gradient(to right, #fafafa 8%, #f4f4f4 38%, #fafafa 54%);
  background-size: 1000px 640px;
  display: block;
  position: relative;
  padding-top: 56.25%;

  > img {
    position: absolute;
    top: 0;
    left: 0;
  }

  &.ratio3to2 {
    padding-top: 2/3 * 100%;
  }

  &.ratio4to3 {
    padding-top: 3/4 * 100%;
  }
}

.image-placeholder {
  display: block;
  position: relative;
  padding-top: 56.25%;

  > img {
    position: absolute;
    top: 0;
    left: 0;
  }
}
