@import "variables.scss";

* {
  box-sizing: border-box;
}

a {
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1rem;
  line-height: 1.3rem;
}

html {
  scroll-behavior: smooth;
}

main {
  margin: 0 auto;
  padding: 0 1rem;
  width: 70rem;
  max-width: 100%;

  img,
  .image-loading {
    border-radius: 10px;
  }

  @media (max-width: 150px) {
    padding: 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

nav {
  padding-bottom: 0.5rem;

  ul {
    > li {
      display: inline-block;
      max-width: 100%;
      padding: 0 0.35rem 2rem 0.35rem;
      text-shadow: white 0 0 5px;
      vertical-align: middle;

      > a {
        color: $eerieBlack;
        display: block;
        padding: 0.625rem 1.2rem;

        &:hover {
          color: $azure;
        }

        @media (max-width: 150px) {
          padding: 0.625rem 0;
        }
      }

      &.current {
        > a {
          font-weight: 900;
        }
      }
    }
  }
}

p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: justify;

  > a {
    color: $azure;
  }
}

.image-loading {
  animation: placeHolderShimmer 1.8s linear infinite forwards;
  background: #f6f7f8;
  background: linear-gradient(to right, #fafafa 8%, #f4f4f4 38%, #fafafa 54%);
  background-size: 1000px 640px;
  display: block;
  position: relative;
  padding-top: 56.25%;

  > img {
    position: absolute;
    top: 0;
    left: 0;
  }

  &.ratio3to2 {
    padding-top: 2/3 * 100%;
  }

  &.ratio4to3 {
    padding-top: 3/4 * 100%;
  }
}

.image-placeholder {
  display: block;
  position: relative;
  padding-top: 56.25%;

  > img {
    position: absolute;
    top: 0;
    left: 0;
  }
}
