@import "reset";
@import "variables";
@import "base";
@import "components/card";
@import "components/gallery";
@import "components/slider";

svg.icon {
  display: inline-block;
  fill: currentColor;
  height: 3em;
  stroke: currentColor;
  stroke-width: 0;
  width: 3em;
}

#icon-facebook {
  color: #4267b2;
}

#icon-youtube {
  color: #ff0000;
}

p.indent {
  margin-left: 2rem;
}

ul.dots {
  margin-left: 2rem;

  > li {
    list-style-type: disc;
  }
}

.banner {
  background-color: black;
  border: 0; //
  padding: 0; //
  position: relative;

  .container {
    margin: 0 auto;
    max-width: 120rem;
    position: relative;

    img {
      margin: 0 auto;
    }

    &.centered-text {
      position: relative;

      h1 {
        color: white;
        font-size: 3.5rem;
        font-weight: 300;
        height: 1em;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-shadow: 0 0 10px black;
        text-transform: uppercase;

        //todo tmp solution
        @media screen and (max-width: 800px) {
          font-size: 2.5rem;
        }

        @media screen and (max-width: 600px) {
          font-size: 2rem;
        }

        @media screen and (max-width: 500px) {
          font-size: 1.5rem;
        }
      }
    }
  }

  .slider {
    .arrow {
      color: white;
      display: none;
      -webkit-filter: drop-shadow(0px 0px 10px black);
      filter: drop-shadow(0px 0px 10px black);
    }

    .items {
      display: flex;
      overflow: hidden;

      img {
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
      }
    }

    &:hover {
      .arrow {
        display: block;
      }
    }
  }
}

.bottomGapMedium {
  margin-bottom: 6rem;
}

.categories {
  margin-left: -1rem; // todo tmp
  margin-top: -1rem; // todo tmp

  > a {
    margin-left: 1rem; // todo tmp
    margin-top: 1rem; // todo tmp
    background-color: $aliceBlue;
    color: $azure;
    display: inline-block;
    padding: 1rem;

    &:hover {
      background-color: #eff4f9;
      color: $usafaBlue;
    }
  }

  // > a + a {
  //   //margin-left: 1rem; tmp todo
  // }
}

.centered-text {
  text-align: center;

  p {
    text-align: center;
  }
}

.single-out-link {
  font-size: 1.25rem;
  margin-top: 1rem;

  &:hover {
    color: $azure;
  }
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.price {
  margin-top: 0.5rem;

  > * {
    display: inline;
  }
}

.productList {
  > h4 {
    margin-bottom: 0rem;
  }
}

.row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: -2.5rem 0 2rem -2.5rem;

  > * {
    flex-basis: 0;
    flex-grow: 1;
    margin-top: 2.5rem;
    margin-left: 2.5rem;
    min-width: 20rem;
  }

  &.topGap {
    margin-top: -0.5rem;
  }
}

.shrink {
  margin: 0 auto;
  width: 60%;
}

.single-out {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.topGap {
  margin-top: 2rem;
}

.topGapMedium {
  margin-top: 6rem;
}

.topGapLarge {
  margin-top: 12rem;
}

.yt-video {
  margin: 3rem auto;
  max-width: 50rem;

  > div {
    position: relative;
    padding-top: 56.25%; // 16:9 ratio

    iframe {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  color: $lighterGray;
  background-color: $eerieBlack;
  margin-top: 2.5rem;
  padding-top: 2.5rem;

  a {
    color: $aliceBlue;
  }

  section.container {
    margin: 0 auto;
    padding: 0 1rem;
    width: 70rem;
    max-width: 100%;

    .links {
      p + p {
        margin-top: 0.1rem;
      }
    }

    .social-media {
      a + a {
        margin-left: 1.3rem;
      }

      svg {
        height: 2.5rem;
        width: 2.5rem;
      }
    }
  }

  .copyright {
    color: $usafaBlue;
    margin: 3rem 2rem 2rem 2rem;
    text-align: center;

    a {
      color: $azure;
    }

    > div {
      background: $prussianBlue;
      border-radius: 5px;
      display: inline-block;
      padding: 0.3rem 1rem;

      ul.separated-list {
        display: inline-flex;
        flex-wrap: wrap;
        overflow: hidden;

        li {
          border-left: solid 1px $usafaBlue;
          flex-grow: 1;
          margin: 0.25rem 1px 0.25rem -1px;
          padding: 0.3rem 1rem;
        }
      }
    }
  }

  .row {
    align-items: flex-start;
  }
}
