@import "reset";
@import "variables";
@import "base";
@import "layout";
@import "components/banner";
@import "components/card";
@import "components/expander";
@import "components/gallery";
@import "components/language-dropdown";
@import "components/product-details";
@import "components/slider";

svg.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  stroke: currentColor;
  stroke-width: 0;
  width: 1em;

  &.facebook {
    color: #4267b2;
  }

  &.youtube {
    color: #ff0000;
  }
}

ul.dots {
  margin-left: 2rem;

  > li {
    list-style-type: disc;

    > ul.dots {
      > li {
        list-style-type: circle;
      }
    }
  }
}

.categories {
  margin: -1rem 0 0 -1rem;
  max-width: 100%;

  &.gap-top {
    margin-top: 1rem;
  }

  > a {
    background-color: $aliceBlue;
    color: $azure;
    display: inline-block;
    margin: 1rem 0 0 1rem;
    max-width: 100%;
    padding: 1rem;

    &:hover {
      background-color: #eff4f9;
      color: $usafaBlue;
    }
  }
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.preview-list {
  > h4 {
    margin-bottom: 0;
  }
}

.single-out {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.single-out-link {
  font-size: 1.25rem;
  margin-top: 1rem;

  &:hover {
    color: $azure;
  }
}

.yt-video {
  margin: 3rem auto;
  max-width: 50rem;

  > div {
    position: relative;
    padding-top: 56.25%; // 16:9 ratio

    iframe {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
