$aliceBlue: #f4f9ff;
$aliceBlueDark: #e5f3ff;
$aliceBlueLight: #fafdff;
$antiqueWhite: #fbefdf;
$azure: #007cf0;
$babyPowder: #fefdfa;
$eerieBlack: #051923;
$prussianBlue: #062738;
$princetonOrange: #f98525;
$silverSand: #c5c4c4;
$usafaBlue: #004f99;
