{% extends "templates/layout-en-gb.njk" %}
{% set tab = "products" %}

{% block meta %}
    <link rel="canonical" href="https://patryktrajder.com/en-gb/products/super-booster-2000/equipment/"/>
    <title>Equipment | Pipe cutter | Patryk Trajder</title>
{% endblock meta %}

{% block vectors %}
    {% include "vectors/arrow-right.sym" %}
    {% include "vectors/home.sym" %}
{% endblock %}

{% block body %}
    <main>
        <article class="gap-top preview-list">
            <header class="gap-top">
                <nav class="breadcrumbs">
                    <span>
                        <a href="/en-gb/">
                            <svg class="home icon">
                                <use xlink:href="#icon-home"></use>
                            </svg>
                        </a>
                        <svg class="icon">
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </span>
                    <span>
                        <a href="/en-gb/products/">Products</a>
                        <svg class="icon">
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </span>
                    <span>
                        <a href="/en-gb/products/super-booster-2000/">Super Booster 2000</a>
                        <svg class="icon">
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </span>
                    <a href="/en-gb/products/super-booster-2000/equipment/">
                        <b>Equipment</b>
                    </a>
                </nav>
                <h1>Equipment for Super Booster 2000</h1>
            </header>
            <section style="background: #f4f9ff; padding: 1rem;">
                <h2>
                    <a href="metal-sheets/" title="Super Booster 2000">Laser cut sheets</a>
                </h2>
                <h4 style="color: #999999; margin-top: 0.5rem;">Components for build Tube notcher - Super Booster 2000
                </h4>
                <div class="row gap-top">
                    <div>
                        <p>
                            In this offer you will find only sheets cut out by CNC laser. These parts are the most difficult to make and at the same time necessary to build a pipe punching machine. Buying the sheets themselves we can save money by making the remaining elements on our own. ;)
                        </p>
                        <p class="single-out-link">
                            <a href="metal-sheets/" title="Super Booster 2000">More information...</a>
                        </p>
                    </div>
                    <div>
                        <a class="image-loading" href="metal-sheets/" title="Super Booster 2000">
                            <img src="/assets/images/super-booster-2000/equipment/metal-sheet/detail1-w1120.jpg" alt="Super Booster 2000"/>
                        </a>
                    </div>
                </div>
            </section>

            <section class="gap-top" style="background: #f4f9ff; padding: 1rem;">
                <h2>
                    <a href="flat-holdfast/" title="Super Booster 2000">Flat holdfast</a>
                </h2>
                <h4 style="color: #999999; margin-top: 0.5rem;">Flat holdfast for Tube Notcher Super Booster 2000
                </h4>
                <div class="row gap-top">
                    <div>
                        <p>
                            The standard is pressure with&#32;<q>triangles</q>with which we can fix both pipes and profiles. However, if we very often want to fix profiles, the extension of the set includes&#32;<q>flat holdfast</q>&#32;will be a good solution.
                        </p>
                        <p class="single-out-link">
                            <a href="flat-holdfast/" title="Super Booster 2000">More information...</a>
                        </p>
                    </div>
                    <div>
                        <a class="image-loading" href="flat-holdfast/" title="Super Booster 2000">
                            <img src="/assets/images/super-booster-2000/equipment/detail1-w1120.jpg" alt="flat holdfast"/>
                        </a>
                    </div>
                </div>
            </section>

        </article>
    </main>
{% endblock %}