{% extends "templates/layout-en-gb.njk" %}
{% set tab = "products" %}

{% block meta %}
    <title>Patryk Trajder</title>
{% endblock meta %}

{% block body %}
    <main>
        <article>
            <header class="gap-top">
                <h1>Tube Notcher - Super Booster 2000 - Accessories</h1>
            </header>
            <section class="gap-top">
                <h2>Flat holdfast</h2>
                <p>There is a clamp from "triangles" as standard, with which we can fix both pipes and profiles. However, if we very often want to fix profiles, extending the set with "flat pressure" will be a good solution.</p>
                <div class="row gap-top">
                    <div>
                        <img src="/assets/images/super-booster-2000/equipment/detail1-w1120.jpg">
                    </div>
                    <div>
                        <p>The flatbed is made up of two elements, which are prepared for assembly by: cut to size, machined edges and a drilled hole. We only have to weld them together.</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <img src="/assets/images/super-booster-2000/equipment/detail2-w1120.jpg">
                    </div>
                    <div>
                        <p>The flatbed is compatible with the screw (it has a mounting hole of the same diameter).</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <img src="/assets/images/super-booster-2000/equipment/detail3-w1120.jpg">
                    </div>
                    <div>
                        <p>
                            By using a flat pressure plate, we minimize the risk of incorrectly fastened profiles.</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <img src="/assets/images/super-booster-2000/equipment/detail4-w1120.jpg">
                    </div>
                    <div>
                        <p>With a prism, our profile automatically positions itself to the axis.</p>
                    </div>
                </div>
            </section>
        </article>
    </main>
{% endblock %}