{% extends "templates/layout-en-gb.njk" %}
{% set tab = "products" %}

{% block meta %}
    <link rel="canonical" href="https://patryktrajder.com/en-gb/products/super-booster-2000/instruction/"/>
    <title>Assembly instruction | Tube notcher | Patryk Trajder</title>
{% endblock meta %}

{% block vectors %}
    {% include "vectors/arrow-right.sym" %}
    {% include "vectors/home.sym" %}
{% endblock %}

{% block body %}
    <main>
        <article>
            <header class="gap-top">
                <nav class="breadcrumbs">
                    <span>
                        <a href="/en-gb/">
                            <svg class="home icon">
                                <use xlink:href="#icon-home"></use>
                            </svg>
                        </a>
                        <svg class="icon">
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </span>
                    <span>
                        <a href="/en-gb/products/">Products</a>
                        <svg class="icon">
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </span>
                    <span>
                        <a href="/en-gb/products/super-booster-2000/">Super Booster 2000</a>
                        <svg class="icon">
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </span>
                    <a href="/en-gb/products/super-booster-2000/equipment/">
                        <b>Instruction</b>
                    </a>
                </nav>
                <h1>Tube Notcher - Super Booster 2000 - Assembly instruction</h1>
            </header>
            <section>
                <p>I will soon add information to the individual steps ;)</p>
                <div class="row gap-top">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/1.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/1-w1120.jpg" alt="flat bar welding"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/2.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/2-w1120.jpg" alt="first-stage assembly"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/3.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/3-w1120.jpg" alt="assembling steel triangles together"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/4.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/4-w1120.jpg" alt="assembling steel triangles together"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/5.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/5-w1120.jpg" alt="assembling steel triangles together"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/6.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/6-w1120.jpg" alt="welding-on of steel triangles"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/7.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/7-w1120.jpg" alt="welding of temporary reinforcement to steel triangles"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/8.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/8-w1120.jpg" alt="welding of steel triangles"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/9.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/9-w1120.jpg" alt="setting the appropriate position of the threaded block"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/10.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/10-w1120.jpg" alt="setting the appropriate position of the threaded block"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/11.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/11-w1120.jpg" alt="welding a block with a thread"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/12.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/12-w1120.jpg" alt="bolt mounting"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/13.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/13-w1120.jpg" alt="metal sheet"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/14.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/14-w1120.jpg" alt="metal sheet"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/15.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/15-w1120.jpg" alt="welded sheets"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/16.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/16-w1120.jpg" alt="part blasting"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/17.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/17-w1120.jpg" alt="part painting"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/18.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/18-w1120.jpg" alt="part painting"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/19.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/19-w1120.jpg" alt="installation of the sliding washer"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/20.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/20-w1120.jpg" alt="installation of the sliding washer"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/21.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/21-w1120.jpg" alt="screw assembling"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/22.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/22-w1120.jpg" alt="screwing"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/23.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/23-w1120.jpg" alt="screwing"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/24.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/24-w1120.jpg" alt="installation of bearing supports"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/25.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/25-w1120.jpg" alt="installation of bearing supports"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/26.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/26-w1120.jpg" alt="installation of bearings"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/27.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/27-w1120.jpg" alt="screwing in the bearings"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/28.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/28-w1120.jpg" alt="screwing in the bearings"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/29.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/29-w1120.jpg" alt="roller assembling"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/30.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/30-w1120.jpg" alt="installation of a pressure screw"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/31.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/31-w1120.jpg" alt="installation of a pressure screw"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/32.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/32-w1120.jpg" alt="pipe clamp installation"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/33.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/33-w1120.jpg" alt="pipe clamp installation"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/34.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/34-w1120.jpg" alt="pipe clamp installation"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/35.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/35-w1120.jpg" alt="installation of the angle guide"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/36.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/36-w1120.jpg" alt="installation of the angle guide"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/37.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/37-w1120.jpg" alt="setting the angle"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/38.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/38-w1120.jpg" alt="bracket mounting"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/39.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/39-w1120.jpg" alt="bracket mounting"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/40.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/40-w1120.jpg" alt="bracket mounting"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/41.jpg" target="_blank" title="Enlarge image"><img src="/assets/images/super-booster-2000/instruction/41-w1120.jpg" alt="presentation of a ready-made punching machine"/></a>
                    </div>
                    <div>
                        <p>Step description</p>
                    </div>
                </div>

            </section>
        </article>
    </main>
{% endblock %}