{% extends "templates/layout.njk" %}
{% set tab = "products" %}

{% block meta %}
    <link rel="canonical" href="https://patryktrajder.com/products/super-booster-2000/equipment/flat-holdfast/"/>
    <title>Docisk płaski | Wyposażenie | Wykrawarka do rur | Patryk Trajder</title>
{% endblock meta %}

{% block body %}
    <main>
        <article>
            <header class="gap-top">
                <h1>Tube Notcher - Super Booster 2000 - Wyposażenie dodatkowe</h1>
            </header>
            <section class="gap-top">
                <h2>Docisk płaski</h2>
                <p>W standardzie znajduje się docisk z „trójkątów”, za pomocą którego możemy mocować zarówno rury jak i profile. Jednak, jeśli bardzo często chcemy mocować profile, rozszerzenie zestawu o „Docisk płaski” będzie dobrym rozwiązaniem.</p>
                <div class="row gap-top">
                    <div>
                        <img src="/assets/images/super-booster-2000/equipment/detail1-w1120.jpg">
                    </div>
                    <div>
                        <p>Docisk płaski składa się z dwóch elementów, które do złożenia są przygotowane poprzez: docięcie na wymiar, obrobione krawędzie oraz wywiercony otwór. Musimy je tylko ze sobą zespawać.</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <img src="/assets/images/super-booster-2000/equipment/detail2-w1120.jpg">
                    </div>
                    <div>
                        <p>Docisk płaski jest kompatybilny ze śrubą (ma otwór montażowy tej samej średnicy).</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <img src="/assets/images/super-booster-2000/equipment/detail3-w1120.jpg">
                    </div>
                    <div>
                        <p>Dzięki użyciu płaskiego docisku minimalizujemy ryzyko złego zamocowania profilu.</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <img src="/assets/images/super-booster-2000/equipment/detail4-w1120.jpg">
                    </div>
                    <div>
                        <p>Dzięki pryzmie nasz profil automatycznie pozycjonuje się do osi.</p>
                    </div>
                </div>
            </section>
        </article>
    </main>
{% endblock %}