{% extends "templates/layout.njk" %}
{% set tab = "products" %}

{% block meta %}
    <link rel="canonical" href="https://patryktrajder.com/products/super-booster-2000/equipment/metal-sheets/"/>
    <meta name="description" content="Zestaw blach wycinanych laserem CNC do budowy wykrawarki / otwornicy do łączenia rur i profili cienko i grubościennych pod dowolnym kątem. Zacznij zakupy już dziś!">
    <title>Zestaw blach | Wyposażenie | Wykrawarka do rur | Patryk Trajder</title>
{% endblock meta %}

{% block vectors %}
    {% include "vectors/arrow-left.sym" %}
    {% include "vectors/arrow-right.sym" %}
    {% include "vectors/chevron-up.sym" %}
    {% include "vectors/chevron-down.sym" %}
    {% include "vectors/close.sym" %}
    {% include "vectors/home.sym" %}
    {% include "vectors/flat-eye-wrench.sym" %}
    {% include "vectors/flat-eye-wrench-full.sym" %}
    {% include "vectors/mail.sym" %}
    {% include "vectors/messenger.sym" %}
    {% include "vectors/mobile.sym" %}
{% endblock %}

{% block body %}
    <main>
        <article>
            <header class="gap-top">
                <nav class="breadcrumbs">
                    <span>
                        <a href="/" title="Strona główna">
                            <svg class="home icon">
                                <use xlink:href="#icon-home"></use>
                            </svg>
                        </a>
                        <svg class="icon">
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </span>
                    <span>
                        <a href="/products/">Produkty</a>
                        <svg class="icon">
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </span>
                    <span>
                        <a href="/products/super-booster-2000/">Super Booster 2000</a>
                        <svg class="icon">
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </span>
                    <span>
                        <a href="/products/super-booster-2000/equipment/">Wyposażenie</a>
                        <svg class="icon">
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </span>
                    <a href="/products/super-booster-2000/equipment/metal-sheets/">
                        <b>Blachy wycinane laserem</b>
                    </a>
                </nav>
                <h1 class="gap-top">Blachy wycinane laserem - Elementy do budowy wykrawarki Super Booster 2000.</h1>
            </header>

            <section class="row">
                <div class="gallery">
                    <div class="full">
                        <div class="container">
                            <img/>
                            <button class="close">
                                <svg class="icon">
                                    <use xlink:href="#icon-close"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="preview">
                        <div class="wrap">
                            <div class="image-loading">
                                <img src="/assets/images/super-booster-2000/equipment/metal-sheet/detail1-h400.jpg" srcset="/assets/images/super-booster-2000/equipment/metal-sheet/detail1-h400.jpg 711w, /assets/images/super-booster-2000/equipment/metal-sheet/detail1-w1422.jpg 1422w, /assets/images/super-booster-2000/equipment/metal-sheet/detail1-w2133.jpg 2133w, /assets/images/super-booster-2000/equipment/metal-sheet/detail1-w2844.jpg 2844w" sizes="(max-width: 768px) calc(100vw - 2rem), (max-width: 70em) calc((100vw - 4.5em) * 3 / 5), calc(65.5em * 3 / 5)" alt="wszystkie blachy cięte laserem"/>
                                <div class="overlay"></div>
                            </div>
                        </div>
                    </div>
                    <div class="slider">
                        <div class="wrapper">
                            <div class="items">
                                <img draggable="false" src="/assets/images/super-booster-2000/equipment/metal-sheet/detail1-h100.jpg" alt="wszystkie laserowo wycinane arkusze - miniaturka"/>
                                <img draggable="false" src="/assets/images/super-booster-2000/equipment/metal-sheet/detail2-h100.jpg" alt="blachy wycinane laserem"/>
                                <img draggable="false" src="/assets/images/super-booster-2000/equipment/metal-sheet/detail3-h100.jpg" alt="grawer laserem"/>
                                <img draggable="false" src="/assets/images/super-booster-2000/equipment/metal-sheet/detail4-h100.jpg" alt="zawleczki i śruby"/>
                                <img draggable="false" src="/assets/images/super-booster-2000/equipment/metal-sheet/detail5-h100.jpg" alt="blacha z otworami fasolkowymi"/>
                            </div>
                        </div>
                        <button class="arrow left" aria-label="Previous">
                            <svg class="icon">
                                <use xlink:href="#icon-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="arrow right" aria-label="Next">
                            <svg class="icon">
                                <use xlink:href="#icon-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="product-details">
                    <h2>Cena</h2>
                    <div class="price">
                        <h3>
                            <span class="value">295</span>,<span class="cents">00</span>&#32;PLN (brutto)</h3>
                    </div>
                    <div class="contact">
                        <a class="messenger option" href="https://www.messenger.com/t/patryktrajder" rel="noreferrer" target="_blank" title="Napisz do mnie na Messengerze">
                            <svg class="icon messenger">
                                <use xlink:href="#icon-messenger"></use>
                            </svg>Messenger</a>
                        <a class="email option" href="mailto:sklep@trajder.com" target="_blank" title="sklep@trajder.com">
                            <svg class="icon">
                                <use xlink:href="#icon-mail"></use>
                            </svg>Email</a>
                        <div class="phone" href="tel:+48602106170" target="_blank">
                            <div class="hold-on-click option">
                                <svg class="icon">
                                    <use xlink:href="#icon-mobile"></use>
                                </svg>
                                <span class="text">Telefon</span>
                                <span class="number">602 106 170</span>
                            </div>
                            <div class="invisible option">
                                <svg class="icon">
                                    <use xlink:href="#icon-mobile"></use>
                                </svg>602 106 170
                            </div>
                        </div>
                    </div>
                    <div class="availability">
                        <p>Dostępne w&#32;<s>magazynie</s>&#32;garażu.</p>
                    </div>
                    <div class="assembly-difficulty">
                        <p>Trudność złożenia</p>
                        <span>
                            <svg class="icon">
                                <use xlink:href="#icon-flat-eye-wrench-full"></use>
                            </svg>
                            <svg class="icon">
                                <use xlink:href="#icon-flat-eye-wrench-full"></use>
                            </svg>
                            <svg class="icon">
                                <use xlink:href="#icon-flat-eye-wrench-full"></use>
                            </svg>
                            <svg class="icon">
                                <use xlink:href="#icon-flat-eye-wrench"></use>
                            </svg>
                            <svg class="icon">
                                <use xlink:href="#icon-flat-eye-wrench"></use>
                            </svg>
                            <svg class="icon">
                                <use xlink:href="#icon-flat-eye-wrench"></use>
                            </svg>
                            <span class="note-asterisk">*</span>
                        </span>
                    </div>
                    <p class="note">* poziom trudności wyższy o jeden punkt w porównaniu do kompletnego zestawu wykrawarki z uwagi na konieczność wykonania w tym przypadku kilku elementów własnoręcznie (nie ma ich w zestawie)</p>
                </div>
            </section>

            <section>
                <div class="row gap-top">
                    <div>
                        <p>
                            W tej ofercie znajdziesz same blachy wycinane laserem CNC. Części te są najtrudniejsze do wykonania a zarazem niezbędne do budowy wykrawarki do rur - Super Booster 2000. Kupując same blachy możemy zaoszczędzić - wykonując pozostałe elementy we własnym zakresie. Cały zamysł konstrukcji zaprojektowałem już 5 lat temu, od tego czasu starałem się wprowadzać cały czas modyfikacje, aby był jak najlepszy.
                            <br>
                            Na kolorowym zdjęciu obok możesz zobaczyć, jak będzie wyglądał zestaw po złożeniu blach z tej aukcji oraz dorobieniu brakujących elementów.
                            <p class="gap-top warning">Uwaga, ten zestaw zawiera tylko blachy CNC. We własnym zakresie musisz wykonać resztę elementów lub kupić gotowy zestaw&#32;<a href="/products/super-booster-2000/" title="Super Booster 2000">tutaj</a>.</p>
                        </p>
                    </div>
                    <div>
                        <div class="image-loading">
                            <img src="/assets/images/super-booster-2000/thumb-w1120.jpg" alt="prezentacja złożonej i pomalowanej wykrawarki do rur"/>
                        </div>
                    </div>
                </div>

                <div>
                    <p class="single-out">W skład zestawu wchodzi:</p>

                    <ul class="dots">
                        <li>
                            <p>
                                ‌11x blachy wycinane Laserem (przygotowane do spawania poprzez obróbkę krawędzi, otworów, gwintowanie itd; dokładność wyciętych elementów to 0,03 MM, wycinane na jednym z najlepszych dostepnych źródeł lasera w polsce),
                            </p>
                        </li>
                        <li>
                            <p>‌1x grawerowany kątownik wraz z logo - aktualnie gratis (cena zakupu 25zł),
                            </p>
                        </li>
                        <li>
                            <p>1x nit do dokładnego odczytu aktualnego kątu,
                            </p>
                        </li>
                        <li>
                            <p>
                                ‌1x blokada kąta, dla powtarzalności cięć,
                            </p>
                        </li>
                        <li>
                            <p>1x zawleczka - do docisku,</p>
                        </li>
                        <li>
                            <p>1x głowna śruba/oś łącząca blachy M12.</p>
                        </li>
                    </ul>

                    <p class="gap-top">
                        Zestaw przygotowany do złożenia. Czas potrzebny na złożenie zestawu blach to około 20 minut. Poniżej lista z niezbędnymi narzędziami potrzebnymi do budowy.
                    </p>

                    <p class="gap-top warning">Uwaga, ten zestaw zawiera tylko blachy CNC. We własnym zakresie musisz wykonać resztę elementów lub kupić gotowy zestaw&#32;<a href="/products/super-booster-2000/" title="Super Booster 2000">tutaj</a>.
                    </p>
                </div>

                <div class="expander materials shrink gap-top">
                    <header>
                        <p>Narzędzia potrzebne do złożenia zestawu</p>
                    </header>
                    <div class="container">
                        <ul class="dots">
                            <li>
                                <p>jakakolwiek spawarka np. TIG, MIG, MAG, MMA (elektrody),</p>
                            </li>
                            <li>
                                <p>szlifierka kątowa (do zabielenia miejsc spawanych),</p>
                            </li>
                            <li>
                                <p>kątownik,</p>
                            </li>
                            <li>
                                <p>2× ścisk stolarski,</p>
                            </li>
                            <li>
                                <p>klucz płasko-oczkowy 8 mm,</p>
                            </li>
                            <li>
                                <p>klucz płasko-oczkowy 19 mm,</p>
                            </li>
                            <li>
                                <p>opcjonalnie młotek (bo bez młota to nie robota xd),</p>
                            </li>
                            <li>
                                <p>typowa odzież ochronna: okulary ochronne do szlifierki, rękawice do spawania itp. ;)</p>
                            </li>
                        </ul>
                    </div>
                    <button>
                        <svg class="icon">
                            <use xlink:href="#icon-chevron-down"></use>
                        </svg>
                    </button>
                </div>

                <p class="single-out-link">
                    <a href="../../instruction/" title="Instrukcja montażu">Instrukcja montażu</a>
                </p>

                <div class="row gap-top">
                    <div>
                        <div class="image-loading">
                            <img src="/assets/images/super-booster-2000/equipment/metal-sheet/detail2-w1120.jpg" alt="elementy do wykrawarki do rur"/>
                        </div>
                    </div>
                    <div>
                        <p>
                            Cały zestaw do złożenia zaprojektowałem w taki sposób aby ułatwić jego montaż, tak aby nawet początkujący majsterkowicz nie miał z nim żadnych problemów, a cały proces składania przypominał bardziej zabawę aniżeli pracę. 😉
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div>
                        <div class="image-loading ratio3to2">
                            <img src="/assets/images/super-booster-2000/detail3-w1120.jpg" alt="kątomierz do wykrawarki do rur"/>
                        </div>
                    </div>
                    <div>
                        <p>
                            Specjalnie wyskalowany kątownik będzię waszym najlepszym kumplem podczas pracy, ponieważ zaoszczedzi mase czasu oraz przypilnuję powtarzalności cięć 😉
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div>
                        <div class="image-loading">
                            <img src="/assets/images/super-booster-2000/detail5-w1120.jpg" alt="blacha z otworami do mocowania łożysk"/>
                        </div>
                    </div>
                    <div>
                        <p>
                            Dzięki zastosowaniu fasolek do mocowania łożysk mamy możliwość bardzo szybkiej regulacji, a co najważniejsze bezstopniowej. Ma to szczególne znaczenie, gdy chcemy często zmieniać rozmiar obrabianej rury czy profilu.
                        </p>
                    </div>
                </div>
            </section>
            <section class="gap-top-medium">

                <p>
                    Poniżej przedstawiam Tobie film z pokazem możliwości mojej maszynki. Film nie został jeszcze zaktualizowany i przedstawiony jest na nim stary model maszynki. Nowsza wersja została ulepszona, ale zasada pracy oraz montażu jest identyczna więc pozwoliłem sobie na tymczasowe dodanie filmu 😉
                </p>

                <div class="yt-video">
                    <div>
                        <iframe src="https://www.youtube-nocookie.com/embed/OaNSVxAPvso?rel=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" title="Super Booster 2000 - prezentacja"></iframe>
                    </div>
                </div>
            </section>

        </article>
    </main>
{% endblock %}