{% extends "templates/layout.njk" %}
{% set tab = "about" %}

{% block body %}
  <main>
    <article class="centered-text">
      <header class="topGap">
        <h1>Poznajmy się lepiej</h1>
      </header>
      <section class="topGap">
        <div class="shrink">
          <img src="/assets/images/about/about1-w1120.jpg"/>
        </div>
        <div class="topGap">
          <p>
            Hej! Tu Patryk, mam 23 lata i jestem mechanikiem. Od dziecka jarały mnie warsztatowe klimaty. Buduję różne rzeczy ze stali. Nie lubię schematycznych rozwiązań. Jeśli coś wydaje się głupie, a działa, to nie jest głupie 😉 Prowadzę 3 główne serie: eksperymenty, budowę narzędzi i szalone wynalazki.
          </p>
        </div>

        <div class="shrink topGap">
          <img src="/assets/images/banner2-w1120.jpg"/>
        </div>

        <div class="topGap">
          <p>
            Od zawsze interesował mnie świat maszyn, wynalazków i szalonych rzeczy. Podczas gdy koledzy z osiedla zbierali kasę na chipsy, ja kupowałem półprodukty potrzebne do wykonywania projektów pirotechnicznych. Nigdy nie mogłem usiedzieć w miejscu i miałem głowę pełną szalonych pomysłów, nie zawsze mądrych. Życie w bloku było dla mnie zbyt szare i nudne. Dlatego gdy w wieku 13 lat przeprowadziłem się z miasta na wieś, poczułem ogrom otwierających się przede mną możliwości.
          </p>
        </div>

        <div class="shrink topGap">
          <img src="/assets/images/about/about3-w1120.jpg"/>
        </div>

        <div class="topGap">
          <p>
            Jedynym ograniczeniem stała się teraz tylko wyobraźnia, no i pieniądze. Gdy okazało się, że mam do dyspozycji starą chlewnię od razu wiedziałem, że nie będę tam hodował świń. Zagracone pomieszczenie posprzątałem i zacząłem przekształcać w prowizoryczny warsztat, w którym staram się realizować moje dziwne projekty, które możecie oglądać na moim kanale.
          </p>
        </div>

        {# todo <s>Od początku powstania kanału byłem bardzo mało aktywny, ponieważ postanowiłem rzucić się w wir pracy etatowej po 12 godzin dziennie, aby jak najszybciej zdobyć fundusze na prowadzenie kanału. 85% Zarobionych pieniędzy przeznaczałem na zakup narzędzi, sprzętu fotograficznego oraz półfabrykatów do odcinków. Nadal jestem biedny, ale za to bogaty w doświadczenie Mam nadzieję, że teraz jestem już gotowy, aby wystrzelić obecnie na kanale buduję narzędzia, które później chcę wykorzystać.</s> #}

      </section>
    </article>
  </main>
{% endblock %}