{% extends "templates/layout.njk" %}
{% set tab = "home" %}

{% block head %}
  <script defer="defer" src="/src/scripts/sliding-banner.js"></script>
{% endblock %}

{% block vectors %}
  {% include "vectors/arrow-left.sym" %}
  {% include "vectors/arrow-right.sym" %}
{% endblock %}

{% block body %}
  <section class="sliding-banner">
    <div class="container">
      <div class="images">
        <img src="/assets/images/banner1.jpg"/>
        <img src="/assets/images/banner1a.jpg"/>
        <img src="/assets/images/banner1b.jpg"/>
      </div>
      <ul></ul>
      <button class="arrow left">
        <svg class="icon">
          <use xlink:href="#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="arrow right">
        <svg class="icon">
          <use xlink:href="#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </section>

  <main>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/a3s6aUMMPb8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>

  </main>
{% endblock %}