{% extends "templates/layout.njk" %}
{% set tab = "home" %}

{% block head %}
  <script defer="defer" src="/src/scripts/sliding-banner.js"></script>
{% endblock %}

{% block vectors %}
  {% include "vectors/arrow-left.sym" %}
  {% include "vectors/arrow-right.sym" %}
{% endblock %}

{% block body %}
  <section class="sliding-banner">
    <div class="container">
      <div class="images">
        <img src="/assets/images/banner1.jpg"/>
        <img src="/assets/images/banner1a.jpg"/>
        <img src="/assets/images/banner1b.jpg"/>
      </div>
      <ul></ul>
      <button class="arrow left">
        <svg class="icon">
          <use xlink:href="#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="arrow right">
        <svg class="icon">
          <use xlink:href="#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </section>

  <main>
    <article>
      <section class="topGapMedium">
        <h2>Pokrótce o kanale</h2>
        <p>
          Głównym założeniem kanału jest prowadzenie serii z szalonymi wynalazkami i eksperymentami. Chciałem stworzyć fajny warsztat, ale nie mogłem sobie pozwolić na zakup drogiego sprzętu w tak młodym wieku (zaczynałem mając 14 lat). Postanowiłem więc zbudować go sam. Można powiedzieć, że jest to trochę półśrodek do celu. Jednak na tyle spodobało mi się tworzenie własnych narzędzi, że nie zamierzam od tego odchodzić i na moim kanale znajdziecie zarazem szalone wynalazki, jak i budowę narzędzi, które wykorzystuję w innych seriach. Serię z budowy narzędzi możecie obejrzeć tutaj:
        </p>
        <div style="text-align: center;">
          <iframe width="560" height="315" style="margin: 3rem 0;" src="https://www.youtube.com/embed/a3s6aUMMPb8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <p>
          Jeśli chodzi o "szalone wynalazki", to głowa jest pełna pomysłów, jednak dotychczas cały swój wolny czas poświęcałem na naukę nagrywania, montażu oraz budowy narzędzi. To co robię jest połączeniem moich dwóch największych pasji, czyli nagrywania oraz majsterkowania w każdym wydaniu (zarówno tym bardziej jak i mniej potrzebnym światu 😉). Jeśli chcesz dowiedzieć się więcej o mnie kliknij tutaj.
        </p>
      </section>
      <section class="topGapMedium">
        <h2>Najnowsze projekty</h2>
        <div class="row">
          <a href="/projects/hydraulic-power-pack/"><img src="/assets/images/projects/thumb1.jpg"></a>
          <img src="/assets/images/projects/thumb2.jpg">
          <div style="background: black; color: white; height: 196px; width: 240px;">
            <p style="margin-top: 4.5rem; text-align: center;">W krótce więcej projektów...</p>
          </div>
        </div>
      </section>
      <section class="row"></section>
    </article>

  </main>
{% endblock %}