{% extends "templates/layout.njk" %}
{% set tab = "home" %}

{% block vectors %}
  {% include "vectors/arrow-left.sym" %}
  {% include "vectors/arrow-right.sym" %}
{% endblock %}

{% block body %}
  <section class="banner sliding-banner">
    <div class="container slider">
      <div class="items">
        <img draggable="false" src="/assets/images/banner1-h730.jpg"/>
        <img draggable="false" src="/assets/images/banner2-h730.jpg"/>
      </div>
      <ul></ul>
      <button class="arrow left">
        <svg class="icon">
          <use xlink:href="#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="arrow right">
        <svg class="icon">
          <use xlink:href="#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </section>

  <main>
    <article class="centered-text">
      <section class="topGapMedium">
        <h1>Pokrótce o kanale</h1>
        <p>
          Głównym założeniem kanału jest prowadzenie serii z szalonymi wynalazkami i eksperymentami. Chciałem stworzyć fajny warsztat, ale nie mogłem sobie pozwolić na zakup drogiego sprzętu w tak młodym wieku (zaczynałem mając 14 lat). Postanowiłem więc zbudować go sam. Można powiedzieć, że jest to trochę półśrodek do celu. Jednak na tyle spodobało mi się tworzenie własnych narzędzi, że nie zamierzam od tego odchodzić i na moim kanale znajdziecie zarazem szalone wynalazki, jak i budowę narzędzi, które wykorzystuję w innych seriach. Serię z budowy narzędzi możecie obejrzeć tutaj:
        </p>
        <div class="yt-video">
          <div>
            <iframe src="https://www.youtube.com/embed/a3s6aUMMPb8?rel=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
          </div>
        </div>
        <p>
          Jeśli chodzi o "szalone wynalazki", to głowa jest pełna pomysłów, jednak dotychczas cały swój wolny czas poświęcałem na naukę nagrywania, montażu oraz budowy narzędzi. To co robię jest połączeniem moich dwóch największych pasji, czyli nagrywania oraz majsterkowania w każdym wydaniu (zarówno tym bardziej jak i mniej potrzebnym światu 😉). Jeśli chcesz dowiedzieć się więcej o mnie
          <a href="/about/">kliknij tutaj</a>.
        </p>
      </section>
      <section class="topGapMedium">
        <h1>Najnowsze projekty</h1>
        <div class="regular slider">
          <div class="items">
            {# <div class="card">
              <a href="/projects/hydraulic-cylinder/"><img draggable="false" src="/assets/images/projects/hydraulic-cylinder/thumb.jpg"></a>
            </div> #}
            <a class="card" href="/projects/hydraulic-power-pack/"><img draggable="false" src="/assets/images/projects/hydraulic-power-pack/thumb-w320.jpg"></a>

            <div class="card placeholder tmp">
              <div style="display: flex; align-items: center; height: 100%;">
                <p style="width: 100%;">Wkrótce więcej projektów...</p>
              </div>
            </div>
          </div>
          {# todo tmp solution <button class="arrow left">
            <svg class="icon">
              <use xlink:href="#icon-arrow-left"></use>
            </svg>
          </button>
          <button class="arrow right">
            <svg class="icon">
              <use xlink:href="#icon-arrow-right"></use>
            </svg>
          </button> #}
        </div>
        Artykuł z budowy hydraulicznego siłownika pojawi się w najbliższym czasie ;)
      </section>
      <section class="topGapMedium">
        <h1>Najnowsze produkty</h1>
        <div class="regular slider">
          <div class="items">
            <a class="card" href="/products/super-booster-2000/"><img draggable="false" src="/assets/images/super-booster-2000/thumb-w320.jpg"></a>

            <div class="card placeholder tmp" style="background: #f98525;">
              <div style="display: flex; align-items: center; height: 100%;">
                <p style="width: 100%;">Wkrótce więcej produktów...</p>
              </div>
            </div>
          </div>
          {# todo tmp solution <button class="arrow left">
            <svg class="icon">
              <use xlink:href="#icon-arrow-left"></use>
            </svg>
          </button>
          <button class="arrow right">
            <svg class="icon">
              <use xlink:href="#icon-arrow-right"></use>
            </svg>
          </button> #}
        </div>
      </section>
    </article>

  </main>
{% endblock %}