{% extends "templates/layout.njk" %}
{% set tab = "products" %}

{% block body %}
  <section class="banner">
    <img src="/assets/images/productsBanner.jpg"/>
  </section>

  <main>
    <section class="categories topGap">
      <ul>
        <li>
          <p>
            <a href="#diyTools">Narzędzia DIY</a>
          </p>
        </li>
        <li>
          <p>
            <a href="#gadgets">Gadżety</a>
          </p>
        </li>
      </ul>
    </section>

    <article id="diyTools" class="topGap productList">
      <h1 class="bottomGapMedium">
        Narzędzia DIY
      </h1>
      <section style="background: #f4f9ff; padding: 1rem;">
        <h2>
          <a href="super-booster-2000/">Tube Notcher - Super Booster 2000</a>
        </h2>
        <h4 style="color: #999999; margin-top: 0.5rem;">Wykrawarka do rur/profili - zestaw do złożenia</h4>
        <div class="row topGap">
          <div>
            <p>
              Czy podobnie jak ja nie przepadasz za obróbki rur/profili pod spawanie? lubisz majsterkować, budujesz buggy, gokart'a, barierki, balustrady, lub jakąkolwiek konstrkcje z rur czy profili? Jeśli tak, to chciałbym przedstawić Tobie urządzenie które naprawdę może ułatwić pracę 😉
            </p>
            <p class="single-out-link">
              <a href="super-booster-2000/">Więcej informacji...</a>
            </p>
          </div>
          <div>
            <a href="super-booster-2000/">
              <img src="/assets/images/superBooster2000/thumb-w1120.jpg"/>
            </a>
          </div>
        </div>
      </section>
    </article>

    <article id="gadgets" class="topGapLarge">
      <h1>
        Gadżety
      </h1>
      <p>
        Jeśli chcecie jakieś kubki czy koszulki, dajcie znać na
        <a href="mailto:chcekubek@trajder.com">chcekubek@trajder.com</a>
        xD
      </p>
    </article>
  </main>
{% endblock %}