{% extends "templates/layout.njk" %}
{% set tab = "products" %}

{% block meta %}
  <title>Patryk Trajder</title>
{% endblock meta %}

{% block body %}
  <div class="banner">
    <div class="container">
      <img src="/assets/images/products-banner-w1920.jpg" alt="Narzędzia na ścianie warsztatu"/>
    </div>
  </div>

  <main>
    <nav class="categories gap-top">
      <a href="#diy-tools" title="Narzędzia DIY">
        <p>
          Narzędzia DIY
        </p>
      </a>
      <a href="#gadgets" title="Gadżety">
        <p>
          Gadżety
        </p>
      </a>
    </nav>

    <article id="diy-tools" class="gap-top preview-list">
      <h1 class="gap-bottom-medium">
        Narzędzia DIY
      </h1>
      <section style="background: #f4f9ff; padding: 1rem;">
        <h2>
          <a href="super-booster-2000/" title="Super Booster 2000">Wykrawarka do rur - Super Booster 2000</a>
        </h2>
        <h4 style="color: #999999; margin-top: 0.5rem;">Otwornica do rur/profili - zestaw modelowy do złożenia</h4>
        <div class="row gap-top">
          <div>
            <p>
              Czy podobnie jak ja nie przepadasz za obróbką rur/profili pod spawanie? Lubisz majsterkować, budujesz buggy, gokarta, barierki, balustrady lub jakąkolwiek konstrkcję z rur czy profili? Jeśli tak, to chciałbym przedstawić Tobie urządzenie, które naprawdę może ułatwić pracę 😉
            </p>
            <p class="single-out-link">
              <a href="super-booster-2000/" title="Super Booster 2000">Więcej informacji...</a>
            </p>
          </div>
          <div>
            <a href="super-booster-2000/" title="Super Booster 2000">
              <img src="/assets/images/super-booster-2000/thumb-w1120.jpg" alt="Super Booster 2000"/>
            </a>
          </div>
        </div>
      </section>
    </article>

    <article id="gadgets" class="gap-top-large">
      <h1>
        Gadżety
      </h1>
      <p>
        Jeśli chcecie jakieś kubki czy koszulki, dajcie znać na&#32;<a href="mailto:chcekubek@trajder.com" title="chcekubek@trajder.com">chcekubek@trajder.com</a>&#32;xD
      </p>
    </article>
  </main>
{% endblock %}