{% extends "templates/layout.njk" %}
{% set tab = "projects" %}

{% block meta %}
  <link rel="canonical" href="https://patryktrajder.com/projects/"/>
  <title>Projekty | Patryk Trajder</title>
{% endblock meta %}

{% block body %}
  <section class="banner">
    <div class="container centered-text">
      <div class="image-placeholder" style="padding-top: 41.666666666%;">
        <img src="/assets/images/projects-banner-w1920.jpg" alt="Blacha cięta szlifierką"/>
      </div>
      <h1>Poznaj lepiej moje projekty</h1>
    </div>
  </section>
  <main>
    <nav class="categories gap-top">
      <a href="#my-projects" title="Moje projekty">
        <p>
          Moje projekty
        </p>
      </a>
      <a href="#your-projects" title="Wasze projekty">
        <p>
          Wasze projekty
        </p>
      </a>
    </nav>

    <section id="my-projects" class="gap-top preview-list">
      <h1>
        Moje projekty
      </h1>

      {# <h2 class="gap-top-medium">
        <a href="hydraulic-cylinder/" title="Siłownik hydrauliczny">Siłownik hydrauliczny - Budowa</a>
      </h2>

      <div class="row gap-top">
        <div>
          <p>
            Sprawdz jak zrobić siłownik hydrauliczny. Wykorzystam go do mojej prasy, oraz wielu innych urządzeń związanych z hydrauliką które mam nadzieje w przyszłości zbuduje. ;)
          </p>
          <p class="single-out-link">
            <a href="hydraulic-cylinder/" title="Siłownik hydrauliczny">Więcej informacji...</a>
          </p>
        </div>
        <div>
          <a href="hydraulic-cylinder/" title="Siłownik hydrauliczny">
            <img src="/assets/images/projects/hydraulic-cylinder/thumb.jpg" alt="Siłownik hydrauliczny"/>
          </a>
        </div>
      </div> #}

      <h2 class="gap-top-medium">
        <a href="hydraulic-power-pack/" title="Mobilny Agregat Hydrauliczny - Budowa">Mobilny Agregat Hydrauliczny - Budowa</a>
      </h2>
      <div class="row gap-top">
        <div>
          <p>
            Sprawdz jak zrobić mobilny agregat hydrauliczny. Wykorzystam go do mojej prasy, oraz wielu innych urządzeń związanych z hydrauliką które mam nadzieje w przyszłości zbuduje. Większość elementów takich jak: stal, silnik elektryczny, rozdzielacz pochodzą ze złomu, co pozwoliło na obniżenie kosztów budowy do minimum ;)
          </p>
          <p class="single-out-link">
            <a href="hydraulic-power-pack/" title="Mobilny Agregat Hydrauliczny - Budowa">Więcej informacji...</a>
          </p>
        </div>
        <div>
          <a class="image-loading" href="hydraulic-power-pack/" title="Mobilny Agregat Hydrauliczny - Budowa">
            <img src="/assets/images/projects/hydraulic-power-pack/thumb.jpg" alt="Mobilny agregat hydrauliczny"/>
          </a>
        </div>
      </div>

    </section>

    <section id="your-projects" class="gap-top-large">
      <h1>
        Wasze projekty
      </h1>
      <p>
        Jeśli chcesz pochwalić się swoim projektem wyślij go na&#32;<a href="mailto:chwalipieta@trajder.com" title="chwalipieta@trajder.com">chwalipieta@trajder.com</a>&#32;xD
      </p>
    </section>
  </main>
{% endblock %}