{% extends "templates/layout.njk" %}
{% set tab = "projects" %}

{% block body %}
  <section class="banner">
    <div class="container centered-text">
      <img src="/assets/images/projectsBanner.jpg"/>
      <h1>Poznaj lepiej moje projekty</h1>
    </div>
  </section>
  <main>
    <section class="categories topGap">
      <a href="#myProjects">
        <p>
          Moje projekty
        </p>
      </a>
      <a href="#yourProjects">
        <p>
          Wasze projekty
        </p>
      </a>
    </section>

    <section id="myProjects" class="topGap productList">
      <h1>
        Moje projekty
      </h1>

      {# <h2 class="topGapMedium">
        <a href="hydraulic-cylinder/">Siłownik hydrauliczny - Budowa</a>
      </h2>

      <div class="row topGap">
        <div>
          <p>
            Sprawdz jak zrobić siłownik hydrauliczny. Wykorzystam go do mojej prasy, oraz wielu innych urządzeń związanych z hydrauliką które mam nadzieje w przyszłości zbuduje. ;)
          </p>
          <p class="single-out-link">
            <a href="hydraulic-cylinder/">Więcej informacji...</a>
          </p>
        </div>
        <div>
          <a href="hydraulic-cylinder/">
            <img src="/assets/images/projects/hydraulic-cylinder/thumb.jpg"/>
          </a>
        </div>
      </div> #}

      <h2 class="topGapMedium">
        <a href="hydraulic-power-pack/">Mobilny Agregat Hydrauliczny - Budowa</a>
      </h2>
      <div class="row topGap">
        <div>
          <p>
            Sprawdz jak zrobić mobilny agregat hydrauliczny. Wykorzystam go do mojej prasy, oraz wielu innych urządzeń związanych z hydrauliką które mam nadzieje w przyszłości zbuduje. Większość elementów takich jak: stal, silnik elektryczny, rozdzielacz pochodzą ze złomu, co pozwoliło na obniżenie kosztów budowy do minimum ;)
          </p>
          <p class="single-out-link">
            <a href="hydraulic-power-pack/">Więcej informacji...</a>
          </p>
        </div>
        <div>
          <a href="hydraulic-power-pack/">
            <img src="/assets/images/projects/hydraulic-power-pack/thumb.jpg"/>
          </a>
        </div>
      </div>

    </section>

    <section id="yourProjects" class="topGapLarge">
      <h1>
        Wasze projekty
      </h1>
      <p>
        Jeśli chcesz pochwalić się swoim projektem wyślij go na
        <a href="mailto:chcekubek@trajder.com">chwalipieta@trajder.com</a>
        xD
      </p>
    </section>
  </main>
{% endblock %}