{% extends "templates/layout-en-gb.njk" %}
{% set tab = "about" %}

{% block meta %}
  <title>Patryk Trajder</title>
{% endblock meta %}

{% block body %}
  <main>
    <article class="centered-text">
      <h1 class="gap-top">Let's get to know each other better</h1>

      <div class="center shrink gap-top">
        <img src="/assets/images/about/about1-w1120.jpg" alt="My current workstation"/>
      </div>

      <div class="gap-top">
        <p>
          Hey! This is Patrick, I'm 23 and I'm a mechanic. I've been a garage air conditioner since I was a kid. I build things out of steel. I don't like schematic solutions. If something seems stupid and works, it's not stupid 😉 I run 3 main series: experiments, tool building and crazy inventions.
        </p>
      </div>

      <div class="center shrink gap-top">
        <img src="/assets/images/about/about2-w1120.jpg" alt="Me with an argon bottle"/>
      </div>

      <div class="gap-top">
        <p>
          I have always been interested in the world of machines, inventions and crazy things. While my colleagues from the estate were collecting money for chips, I was buying semi-finished products needed for pyrotechnic projects. I could never sit still and had a head full of crazy ideas, not always wise. Life in the block was too gray and boring for me. That's why when I moved from town to country at the age of 13, I felt the enormous possibilities opening up for me.
        </p>
      </div>

      <div class="center shrink gap-top">
        <img src="/assets/images/about/about3.jpg" alt="My old workshop"/>
      </div>

      <div class="gap-top">
        <p>
          The only limitation now is imagination and money. When it turned out that I had an old pigsty at my disposal, I knew immediately that I would not be breeding pigs there. I cleaned up the cluttered room and started to transform it into a makeshift workshop, where I try to carry out my strange projects, which you can see on my channel.
        </p>
      </div>

      {# todo <s>Od początku powstania kanału byłem bardzo mało aktywny, ponieważ postanowiłem rzucić się w wir pracy etatowej po 12 godzin dziennie, aby jak najszybciej zdobyć fundusze na prowadzenie kanału. 85% Zarobionych pieniędzy przeznaczałem na zakup narzędzi, sprzętu fotograficznego oraz półfabrykatów do odcinków. Nadal jestem biedny, ale za to bogaty w doświadczenie Mam nadzieję, że teraz jestem już gotowy, aby wystrzelić obecnie na kanale buduję narzędzia, które później chcę wykorzystać.</s> #}

    </article>
  </main>
{% endblock %}