{% extends "templates/layout-en-gb.njk" %}
{% set tab = "about" %}

{% block meta %}
  <link rel="canonical" href="https://patryktrajder.com/en-gb/about/"/>
  <title>About me | Patryk Trajder</title>
{% endblock meta %}

{% block vectors %}
  {% include "vectors/arrow-right.sym" %}
  {% include "vectors/home.sym" %}
{% endblock %}

{% block body %}
  <main>
    <article class="centered-text">
      <header class="gap-top">
        <nav class="breadcrumbs">
          <span>
            <a href="/en-gb/">
              <svg class="home icon">
                <use xlink:href="#icon-home"></use>
              </svg>
            </a>
            <svg class="icon">
              <use xlink:href="#icon-arrow-right"></use>
            </svg>
          </span>
          <a href="/en-gb/about/">
            <b>About me</b>
          </a>
        </nav>
        <h1>Let's get to know each other better!</h1>
      </header>

      <div class="center shrink gap-top">
        <div class="image-loading" style="padding-top: 74.85%;">
          <img src="/assets/images/about/about1-w1120.jpg" alt="My current workstation"/>
        </div>
      </div>

      <div class="gap-top">
        <p>
          Hey! This is Patrick, I'm 23 and I'm a mechanic. I've been a garage air conditioner since I was a kid. I build things out of steel. I don't like schematic solutions. If something seems stupid and works, it's not stupid 😉 I run 3 main series: experiments, tool building and crazy inventions.
        </p>
      </div>

      <div class="center shrink gap-top">
        <div class="image-loading ratio3to2">
          <img src="/assets/images/about/about2-w1120.jpg" alt="Me with an argon bottle"/>
        </div>
      </div>

      <div class="gap-top">
        <p>
          I have always been interested in the world of machines, inventions and crazy things. While my colleagues from the estate were collecting money for chips, I was buying semi-finished products needed for pyrotechnic projects. I could never sit still and had a head full of crazy ideas, not always wise. Life in the block was too gray and boring for me. That's why when I moved from town to country at the age of 13, I felt the enormous possibilities opening up for me.
        </p>
      </div>

      <div class="center shrink gap-top">
        <div class="image-loading" style="padding-top: 74.85%;">
          <img src="/assets/images/about/about3.jpg" alt="My old workshop"/>
        </div>
      </div>

      <div class="gap-top">
        <p>
          The only limitation now is imagination and money. When it turned out that I had an old pigsty at my disposal, I knew immediately that I would not be breeding pigs there. I cleaned up the cluttered room and started to transform it into a makeshift workshop, where I try to carry out my strange projects, which you can see on my channel.
        </p>
      </div>
    </article>
  </main>
{% endblock %}