{% extends "templates/layout-en-gb.njk" %}
{% set tab = "projects" %}

{% block meta %}
  <link rel="canonical" href="https://patryktrajder.com/en-gb/projects/"/>
  <title>Projects | Patryk Trajder</title>
{% endblock meta %}

{% block vectors %}
  {% include "vectors/arrow-right.sym" %}
  {% include "vectors/home.sym" %}
{% endblock %}

{% block body %}
  <section class="banner">
    <div class="container centered-text">
      <div class="image-placeholder" style="padding-top: 41.666666666%;">
        <img src="/assets/images/projects-banner-w1920.jpg" alt="Sheet metal being cut with a grinder."/>
      </div>
      <h1>Get to know my projects better</h1>
    </div>
  </section>
  <main>
    <nav class="breadcrumbs gap-top">
      <span>
        <a href="/en-gb/">
          <svg class="home icon">
            <use xlink:href="#icon-home"></use>
          </svg>
        </a>
        <svg class="icon">
          <use xlink:href="#icon-arrow-right"></use>
        </svg>
      </span>
      <a href="/en-gb/projects/">
        <b>Projects</b>
      </a>
    </nav>
    <nav class="categories">
      <a href="#my-projects" title="My projects">
        <p>
          My projects
        </p>
      </a>
      <a href="#your-projects" title="Your projects">
        <p>
          Your projects
        </p>
      </a>
    </nav>

    <article id="my-projects" class="gap-top preview-list">
      <h1 class="gap-bottom-medium">
        My projects
      </h1>

      <section>
        <h2>
          <a href="hydraulic-cylinder/" title="Hydraulic cylinder ">Hydraulic cylinder - Construction</a>
        </h2>

        <div class="row gap-top">
          <div>
            <p>
              Check how to make a hydraulic cylinder. I will use it for my press, and many other hydraulics related equipment that I hope to build in the future. ;)
            </p>
            <p class="single-out-link">
              <a href="hydraulic-cylinder/" title="Hydraulic cylinder">More information...</a>
            </p>
          </div>
          <div>
            <a href="hydraulic-cylinder/" title="Hydraulic cylinder">
              <img src="/assets/images/projects/hydraulic-cylinder/thumb.jpg" alt="Hydraulic cylinder"/>
            </a>
          </div>
        </div>
      </section>

      <section class="gap-top">
        <h2>
          <a href="hydraulic-power-pack/" title="Mobile Hydraulic Power Unit - Construction">Mobile Hydraulic Power Unit - Construction</a>
        </h2>
        <div class="row gap-top">
          <div>
            <p>
              Check how to make a mobile hydraulic unit. I will use it for my press, and many other hydraulics-related equipment that I hope to build in the future. Most of the elements such as: steel, electric motor, manifold come from scrap metal, which allowed to reduce construction costs to a minimum ;)
            </p>
            <p class="single-out-link">
              <a href="hydraulic-power-pack/" title="Mobile Hydraulic Power Unit - Construction">More information...</a>
            </p>
          </div>
          <div>
            <a class="image-loading" href="hydraulic-power-pack/" title="Mobile Hydraulic Power Unit - Construction">
              <img src="/assets/images/projects/hydraulic-power-pack/thumb.jpg" alt="Mobile hydraulic power unit"/>
            </a>
          </div>
        </div>
      </section>
    </article>

    <article id="your-projects" class="gap-top-large">
      <h1>
        Your projects
      </h1>
      <p>
        If you want to boast about your project, send it to&#32;<a href="mailto:bragger@trajder.com" title="bragger@trajder.com">bragger@trajder.com</a>&#32;xD
      </p>
    </article>
  </main>
{% endblock %}