{% extends "templates/layout-en-gb.njk" %}
{% set tab = "products" %}

{% block meta %}
  <link rel="canonical" href="https://patryktrajder.com/en-gb/products/super-booster-2000/"/>
  <meta name="decsription" content="Tube notcher for joining pipes and profiles thin and thick-walled at any angle. For fast and precise cutting. Start shopping today!">
  <title>Tube notcher | Patryk Trajder</title>
{% endblock meta %}

{% block vectors %}
  {% include "vectors/arrow-left.sym" %}
  {% include "vectors/arrow-right.sym" %}
  {% include "vectors/close.sym" %}
  {% include "vectors/check-square.sym" %}
  {% include "vectors/mail.sym" %}
  {% include "vectors/messenger.sym" %}
  {% include "vectors/square.sym" %}
  {% include "vectors/chevron-up.sym" %}
  {% include "vectors/chevron-down.sym" %}
{% endblock %}

{% block body %}
  <main id="super-booster-2000">
    <article>
      <header class="gap-top">
        <nav class="categories">
          <a href="instruction/" title="Assembly instruction">
            <p>
              Assembly instruction
            </p>
          </a>
          <a href="#presentation" title="Presentation of possibilities">
            <p>
              Presentation of possibilities
            </p>
          </a>
        </nav>
        <h1 class="gap-top">Tube Notcher - Super Booster 2000</h1>
      </header>

      <section class="row">
        <div class="gallery">
          <div class="full">
            <div class="container">
              <img/>
              <button class="close">
                <svg class="icon">
                  <use xlink:href="#icon-close"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="preview">
            <div class="image-loading ratio3to2">
              <img src="/assets/images/super-booster-2000/gallery1-h400.jpg"/>
            </div>
          </div>
          <div class="slider">
            <div class="wrapper">
              <div class="items">

                {# todo add back <img data-ratio="66.6667" draggable="false" src="/assets/images/super-booster-2000/gallery1-h100.jpg"/> #}

                <img draggable="false" src="/assets/images/super-booster-2000/gallery1-h100.jpg" alt="all parts of the kit"/>
                <img draggable="false" src="/assets/images/super-booster-2000/gallery2-h100.jpg" alt="zoom in on parts of the kit"/>
                <img draggable="false" src="/assets/images/super-booster-2000/gallery3-h100.jpg" alt="zoom in on the assembled and painted set from the front"/>
                <img draggable="false" src="/assets/images/super-booster-2000/gallery4-h100.jpg" alt="assembled and painted set from the front"/>
                <img draggable="false" src="/assets/images/super-booster-2000/gallery5-h100.jpg" alt="assembled and painted set from behind"/>
                <img draggable="false" src="/assets/images/super-booster-2000/detail6-h100.jpg" alt="Shaft with adapter for mounting holesaws"/>
              </div>
            </div>
            <button class="arrow left">
              <svg class="icon">
                <use xlink:href="#icon-arrow-left"></use>
              </svg>
            </button>
            <button class="arrow right">
              <svg class="icon">
                <use xlink:href="#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="product-details">
          <h2>Price</h2>
          <div class="price">
            <h3>
              <span class="value">179</span>,<span class="cents">00</span>&#32;USD (gross)</h3>
          </div>
          <div class="contact">
            <a class="messenger" href="https://www.messenger.com/t/trajder.serwis" rel="noreferrer" target="_blank" title="Contact me on Messenger">
              <svg class="icon">
                <use xlink:href="#icon-messenger"></use>
              </svg>Messenger</a>
            <a class="email" href="mailto:shop@trajder.com" target="_blank" title="shop@trajder.com">
              <svg class="icon">
                <use xlink:href="#icon-mail"></use>
              </svg>Email</a>
          </div>
          <div class="options">
            <div>Especially for you, I give you the opportunity to modify your order - so that the price is affordable for everyone. The cost of producing a roller on cnc machines with the quality I have imposed on myself is so expensive that maybe someone who has access to the lathe will decide to save it and make it a bit cheaper on their own. 😉</div>
            <div class="checkbox row">
              <svg class="icon">
                <use xlink:href="#icon-square"></use>
              </svg>
              <span>
                <p>1× turned hardened shaft with original adapter for mounting holesaws (+ $20).</p>
              </span>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="row gap-top">
          <div>
            <p>
              I designed the whole idea of the construction already 5 years ago, since then I have been trying to make modifications all the time to make it the best. The latest version is improved by, among other things
              <br>
              hardened shaft (the same as used for cylinders in construction machines), a special tip for quick change of holesaws, a graduation angle for easy and quick setting of the device for the job, pins (so that the pressure of the material always holds in place), angle lock for repeat cuts, and several other improvements that significantly increase the comfort of work. However, they also increased the price 😉. My goal was to create a product with the best possible parameters and at an affordable price for everyone. At the beginning I assumed selling the set a bit cheaper, but I came to the conclusion that increasing the quality will be a good decision.
            </p>
          </div>
          <div>
            <div class="image-loading">
              <img src="/assets/images/super-booster-2000/thumb-w1120.jpg" alt="assembled and painted set from the side"/>
            </div>
          </div>
        </div>

        <div>
          <p class="single-out">The set includes:</p>

          <ul class="dots">
            <li>
              <p>
                11x sheets cut out by laser (prepared for welding by means of edge processing, holes, threading, etc.; accuracy of cut out elements is 0.03 MM, cut out on one of the best available laser sources in Poland)
              </p>
            </li>
            <li>
              <p>2x bearing stand</p>
            </li>
            <li>
              <p>1x post with M20</p>
              thread
            </li>
            <li>
              <p>
                1x set of screws (as shown in the pictures, total 18 elements)
              </p>
            </li>
            <li>
              <p>1x pin - to pin</p>
            </li>
            <li>
              <p>1x turned material pressure M20</p>
            </li>
            <li>
              <p>
                1x quick change hole bit (shaft-mounted)
              </p>
            </li>
            <li>
              <p>1x turned hardened shaft</p>
            </li>
            <li>
              <p>2x MGK bearing</p>
            </li>
            <li>
              <p>1x sliding washer between sheets</p>
            </li>
            <li>
              <p>2x worm-type screw to fold the shaft</p>
            </li>
            <li>
              <p>
                1x engraved angle with logo - currently free (purchase price 25 PLN)
              </p>
            </li>
            <li>
              <p>1x rivet for accurate reading of the current angle</p>
            </li>
            <li>
              <p>1x electronic assembly instructions (pictures)</p>
            </li>
            <li>
              <p>1x Allen pipe wrench (not pictured)</p>
            </li>
            <li>
              <p>1x angle lock, for repeatable cuts</p>
            </li>
          </ul>

          <p class="gap-top">
            Complete set, ready for assembly. It takes about 30 minutes to assemble the set. Below is a list with the necessary tools needed for construction. ;)
          </p>
        </div>

        <div class="expander materials shrink gap-top">
          <header>
            <p>Tools needed to assemble the set</p>
          </header>
          <div class="container">
            <ul class="dots">
              <li>
                <p>
                  any welder, e.g. TIG, MIG, MAG, MMA (electrodes),</p>
              </li>
              <li>
                <p>angled grinder (for whitening welded spots),</p>
              </li>
              <li>
                <p>angle finder,
                </p>
              </li>
              <li>
                <p>2× carpenter's compression,</p>
              </li>
              <li>
                <p>Flat-eye wrench 8mm,</p>
              </li>
              <li>
                <p>Flat-eye wrench 12mm,</p>
              </li>
              <li>
                <p>Flat-eye wrench 19mm,</p>
              </li>
              <li>
                <p>Flat-eye key 30mm,</p>
              </li>
              <li>
                <p>Alternatively, adjustable pipe tongs can be used for this purpose,,</p>
              </li>
              <li>
                <p>optionally a hammer,
                </p>
              </li>
              <li>
                <p>typical protective clothing: protective goggles for sander, welding gloves etc. ;)
                </p>
              </li>
            </ul>
          </div>
          <button>
            <svg class="icon">
              <use xlink:href="#icon-chevron-down"></use>
            </svg>
          </button>
        </div>

        <p class="single-out-link">
          <a href="instruction/" title="Assembly instruction">Assembly instruction</a>
        </p>
        <div class="row gap-top">
          <div>
            <div class="image-loading ratio3to2">
              <img src="/assets/images/super-booster-2000/detail2-w1120.jpg" alt="cube with thread"/>
            </div>
          </div>
          <div>
            <p>
              As you can see, in the picture next to it, the place where you have to weld a "threaded pole" was pressed through a laser engraver with an accuracy of 1 hundredth of a millimetre, which, combined with a groove fit, guarantees pleasant work without surprises 😉.
            </p>
          </div>
        </div>

        <div class="row">
          <div>

            <div class="image-loading">
              <img src="/assets/images/super-booster-2000/detail1-w1120.jpg" alt="pipe clamp"/>
            </div>

          </div>
          <div>
            <p>
              I designed the whole folding set in such a way as to make it easy to assemble, so that even a novice DIY enthusiast wouldn't have any problems with it, and the whole folding process was more like fun than work. 😉
            </p>
          </div>
        </div>

        <div class="row">
          <div>
            <div class="image-loading ratio3to2">
              <img src="/assets/images/super-booster-2000/detail3-w1120.jpg" alt="angle"/>
            </div>
          </div>
          <div>
            <p>
              The specially calibrated angle bar will be your best friend at work, as it will save you a lot of time and I will make sure the cuts are repeatable 😉.
            </p>
          </div>
        </div>

        <div class="row">
          <div>
            <div class="image-loading">
              <img src="/assets/images/super-booster-2000/detail4-w1120.jpg" alt="bearing supports"/>
            </div>
          </div>
          <div>
            <p>
              In the set, I make every effort even where seemingly they are not required, the ideal example of this are ground edges of, among others, bearing stands or post with M20 thread, it is only a stylistic procedure that does not affect the work of the attachment.
            </p>
          </div>
        </div>

        <div class="row">
          <div>
            <div class="image-loading">
              <img src="/assets/images/super-booster-2000/detail5-w1120.jpg" alt="plate of beans"/>
            </div>
          </div>
          <div>
            <p>
              Thanks to the use of beans for fixing the bearings, we have the possibility of very quick adjustment, and most importantly, infinitely variable. This is especially important when we want to change the size of a pipe or profile frequently.
            </p>
          </div>
        </div>

        <div class="row">
          <div>
            <div class="image-loading">
              <img src="/assets/images/super-booster-2000/detail6-w1120.jpg" alt="Shaft with adapter for mounting holesaws"/>
            </div>
          </div>
          <div>
            <p>
              Combining the fight with the pinhole was the biggest challenge for me. Initially, I threaded the bar itself, but this connection did not work with larger holesaws. I decided not to balance the open door and used the original adapter to fix the holesaws. It has special pins that absorb all the energy to prevent damage to the thread.
            </p>
          </div>
        </div>
      </section>
      <section id="presentation" class="gap-top-medium">
        <h1>Presentation of possibilities</h1>

        <div class="row">
          <div>
            <div class="image-loading ratio4to3">
              <img src="/assets/images/super-booster-2000/pipe1-w1120.jpg" alt="example of a right angle cut"/>
            </div>
          </div>
          <div>
            <p>
              In the machine we can punch pipes from 28 to 91mm, an example of which is the photo next to it ;)
            </p>
          </div>
        </div>

        <div class="row">
          <div>
            <div class="image-loading ratio4to3">
              <img src="/assets/images/super-booster-2000/pipe2-w1120.jpg" alt="example of a right angle cut"/>
            </div>
          </div>
          <div>
            <p>
              example of a 91mm pipe connection at right angles.
            </p>
          </div>
        </div>

        <div class="row">
          <div>
            <div class="image-loading ratio4to3">
              <img src="/assets/images/super-booster-2000/pipe3-w1120.jpg" alt="example of a 45° cut"/>
            </div>
          </div>
          <div>
            <p></p>
          </div>
        </div>

        <div class="row">
          <div>
            <div class="image-loading ratio4to3">
              <img src="/assets/images/super-booster-2000/pipe4-w1120.jpg" alt="example of a 45° cut"/>
            </div>
          </div>
          <div>
            <p></p>
          </div>
        </div>

        <div class="row">
          <div>
            <div class="image-loading ratio4to3">
              <img src="/assets/images/super-booster-2000/pipe5-w1120.jpg" alt="example of a 45° cut"/>
            </div>
          </div>
          <div>
            <p></p>
          </div>
        </div>

        <p class="gap-top">
          Below I present to you a film showing the capabilities of my razor. The film has not been updated yet and shows the old model of the razor. The newer version has been improved, but the principle of work and editing is the same so I took the liberty of temporarily adding the film 😉.
        </p>

        <div class="yt-video">
          <div>
            <iframe src="https://www.youtube-nocookie.com/embed/OaNSVxAPvso?rel=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" title="Super Booster 2000 - presentation"></iframe>
          </div>
        </div>
      </section>

    </article>
  </main>
{% endblock %}