{% extends "templates/layout-en-gb.njk" %}
{% set tab = "products" %}

{% block vectors %}
  {% include "vectors/arrow-left.sym" %}
  {% include "vectors/arrow-right.sym" %}
  {% include "vectors/close.sym" %}
  {% include "vectors/mail.sym" %}
  {% include "vectors/messenger.sym" %}
{% endblock %}

{% block body %}
  <main>
    <article>
      <header class="gap-top">
        <nav class="categories">
          <a href="instruction/" title="Assembly instruction">
            <p>
              Assembly instruction
            </p>
          </a>
          <a href="#presentation" title="Presentation of possibilities">
            <p>
              Presentation of possibilities
            </p>
          </a>
        </nav>
        <h1 class="gap-top">Tube Notcher - Super Booster 2000</h1>
      </header>

      <section class="gap-top">
        <div class="row">
          <div class="gallery">
            <div class="full">
              <div class="container">
                <img/>
                <button class="close">
                  <svg class="icon">
                    <use xlink:href="#icon-close"></use>
                  </svg>
                </button>
              </div>
            </div>
            <div class="preview">
              <img src="/assets/images/super-booster-2000/gallery1-h400.jpg"/>
            </div>
            <div class="slider">
              <div class="wrapper">
                <div class="items">
                  {# todo add back <img draggable="false" src="/assets/images/super-booster-2000/gallery1-h100.jpg"/> #}
                  <img draggable="false" src="/assets/images/super-booster-2000/gallery2-h100.jpg"/>
                  <img draggable="false" src="/assets/images/super-booster-2000/gallery3-h100.jpg"/>
                  <img draggable="false" src="/assets/images/super-booster-2000/gallery4-h100.jpg"/>
                  <img draggable="false" src="/assets/images/super-booster-2000/gallery5-h100.jpg"/>
                  <img draggable="false" src="/assets/images/super-booster-2000/detail6-h100.jpg"/>
                </div>
              </div>
              <button class="arrow left">
                <svg class="icon">
                  <use xlink:href="#icon-arrow-left"></use>
                </svg>
              </button>
              <button class="arrow right">
                <svg class="icon">
                  <use xlink:href="#icon-arrow-right"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="product-details">
            <h2>Price</h2>
            <div class="price">
              <h3>
                <span class="value">$179</span>&#32;(gross)</h3>
            </div>
            <div class="contact">
              <a class="messenger" href="https://www.messenger.com/t/trajder.serwis" rel="noreferrer" target="_blank" title="Contact me on Messenger">
                <svg class="icon">
                  <use xlink:href="#icon-messenger"></use>
                </svg>Messenger</a>
              <a class="email" href="mailto:shop@trajder.com" target="_blank" title="shop@trajder.com">
                <svg class="icon">
                  <use xlink:href="#icon-mail"></use>
                </svg>Email</a>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="row gap-top">
          <div>
            <p>
              I designed the whole idea of the construction already 5 years ago, since then I have been trying to make modifications all the time to make it the best. The latest version is improved by, among other things
              <br>
              hardened shaft (the same as used for cylinders in construction machines), a special tip for quick change of holesaws, a graduation angle for easy and quick setting of the device for the job, pins (so that the pressure of the material always holds in place), angle lock for repeat cuts, and several other improvements that significantly increase the comfort of work. However, they also increased the price 😉. My goal was to create a product with the best possible parameters and at an affordable price for everyone. At the beginning I assumed selling the set a bit cheaper, but I came to the conclusion that increasing the quality will be a good decision.
            </p>
          </div>
          <div>
            <img src="/assets/images/super-booster-2000/thumb-w1120.jpg"/>
          </div>
        </div>

        <div>
          <p class="single-out">The set includes:</p>

          <ul class="dots">
            <li>
              <p>
                11x sheets cut out by laser (prepared for welding by means of edge processing, holes, threading, etc.; accuracy of cut out elements is 0.03 MM, cut out on one of the best available laser sources in Poland)
              </p>
            </li>
            <li>
              <p>2x bearing stand</p>
            </li>
            <li>
              <p>1x post with M20</p>
              thread
            </li>
            <li>
              <p>
                1x set of screws (as shown in the pictures, total 18 elements)
              </p>
            </li>
            <li>
              <p>1x pin - to pin</p>
            </li>
            <li>
              <p>1x turned material pressure M20</p>
            </li>
            <li>
              <p>
                1x quick change hole bit (shaft-mounted)
              </p>
            </li>
            <li>
              <p>1x turned hardened shaft</p>
            </li>
            <li>
              <p>2x MGK bearing</p>
            </li>
            <li>
              <p>1x sliding washer between sheets</p>
            </li>
            <li>
              <p>2x worm-type screw to fold the shaft</p>
            </li>
            <li>
              <p>
                1x engraved angle with logo - currently free (purchase price 25 PLN)
              </p>
            </li>
            <li>
              <p>1x rivet for accurate reading of the current angle</p>
            </li>
            <li>
              <p>1x electronic assembly instructions (pictures)</p>
            </li>
            <li>
              <p>1x Allen pipe wrench (not pictured)</p>
            </li>
            <li>
              <p>1x angle lock, for repeatable cuts</p>
            </li>
          </ul>

          <p class="gap-top">
            Complete set, ready for assembly. It takes about 30 minutes to assemble the set. For this we need any welding machine: mma, tig or electrodes.
          </p>
        </div>

        <p class="single-out-link">
          <a href="instruction/" title="Assembly instruction">Assembly instruction</a>
        </p>
        <div class="row gap-top">
          <div>
            <img src="/assets/images/super-booster-2000/detail2-w1120.jpg"/>
          </div>
          <div>
            <p>
              As you can see, in the picture next to it, the place where you have to weld a "threaded pole" was pressed through a laser engraver with an accuracy of 1 hundredth of a millimetre, which, combined with a groove fit, guarantees pleasant work without surprises 😉.
            </p>
          </div>
        </div>

        <div class="row">
          <div>
            <img src="/assets/images/super-booster-2000/detail1-w1120.jpg"/>
          </div>
          <div>
            <p>
              I designed the whole folding set in such a way as to make it easy to assemble, so that even a novice DIY enthusiast wouldn't have any problems with it, and the whole folding process was more like fun than work. 😉
            </p>
          </div>
        </div>

        <div class="row">
          <div>
            <img src="/assets/images/super-booster-2000/detail3-w1120.jpg"/>
          </div>
          <div>
            <p>
              The specially calibrated angle bar will be your best friend at work, as it will save you a lot of time and I will make sure the cuts are repeatable 😉.
            </p>
          </div>
        </div>

        <div class="row">
          <div>
            <img src="/assets/images/super-booster-2000/detail4-w1120.jpg"/>
          </div>
          <div>
            <p>
              In the set, I make every effort even where seemingly they are not required, the ideal example of this are ground edges of, among others, bearing stands or post with M20 thread, it is only a stylistic procedure that does not affect the work of the attachment.
            </p>
          </div>
        </div>

        <div class="row">
          <div>
            <img src="/assets/images/super-booster-2000/detail5-w1120.jpg"/>
          </div>
          <div>
            <p>
              Thanks to the use of beans for fixing the bearings, we have the possibility of very quick adjustment, and most importantly, infinitely variable. This is especially important when we want to change the size of a pipe or profile frequently.
            </p>
          </div>
        </div>

        <div class="row">
          <div>
            <img src="/assets/images/super-booster-2000/detail6-w1120.jpg"/>
          </div>
          <div>
            <p>
              Combining the fight with the pinhole was the biggest challenge for me. Initially, I threaded the bar itself, but this connection did not work with larger holesaws. I decided not to balance the open door and used the original adapter to fix the holesaws. It has special pins that absorb all the energy to prevent damage to the thread.
            </p>
          </div>
        </div>
      </section>
      <section id="presentation" class="gap-top-medium">
        <h1>Presentation of possibilities</h1>

        <div class="row">
          <div>
            <img src="/assets/images/super-booster-2000/pipe1-w1120.jpg"/>
          </div>
          <div>
            <p>
              In the machine we can punch pipes from 28 to 91mm, an example of which is the photo next to it ;)
            </p>
          </div>
        </div>

        <div class="row">
          <div>
            <img src="/assets/images/super-booster-2000/pipe2-w1120.jpg"/>
          </div>
          <div>
            <p>
              example of a 91mm pipe connection at right angles.
            </p>
          </div>
        </div>

        <div class="row">
          <div>
            <img src="/assets/images/super-booster-2000/pipe3-w1120.jpg"/>
          </div>
          <div>
            <p></p>
          </div>
        </div>

        <div class="row">
          <div>
            <img src="/assets/images/super-booster-2000/pipe4-w1120.jpg"/>
          </div>
          <div>
            <p></p>
          </div>
        </div>

        <div class="row">
          <div>
            <img src="/assets/images/super-booster-2000/pipe5-w1120.jpg"/>
          </div>
          <div>
            <p></p>
          </div>
        </div>

        <p class="gap-top">
          Below I present to you a film showing the capabilities of my razor. The film has not been updated yet and shows the old model of the razor. The newer version has been improved, but the principle of work and editing is the same so I took the liberty of temporarily adding the film 😉.
        </p>

        <div class="yt-video">
          <div>
            <iframe src="https://www.youtube-nocookie.com/embed/OaNSVxAPvso?rel=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
          </div>
        </div>
      </section>

    </article>
  </main>
{% endblock %}