{% extends "templates/layout.njk" %}
{% set tab = "products" %}

{% block meta %}
    <link rel="canonical" href="https://patryktrajder.com/products/super-booster-2000/equipment/"/>
    <title>Wyposażenie | Wykrawarka do rur | Patryk Trajder</title>
{% endblock meta %}

{% block body %}
    <main>
        <article class="gap-top preview-list">
            <h1 class="gap-bottom-medium">
                Wyposażenie do Super Booster 2000
            </h1>
            <section style="background: #f4f9ff; padding: 1rem;">
                <h2>
                    <a href="metal-sheets/" title="Super Booster 2000">Blachy wycinane laserem</a>
                </h2>
                <h4 style="color: #999999; margin-top: 0.5rem;">Elementy do budowy wykrawarki SuperBooster2000.
                </h4>
                <div class="row gap-top">
                    <div>
                        <p>
                            W tej ofercie znajdziesz same blachy wycinane laserem CNC. Części te są najtrudniejsze do wykonania a zarazem niezbędne do budowy wykrawarki do rur. Kupując same blachy możemy zaoszczędzić - wykonując pozostałe elementy we własnym zakresie. ;)
                        </p>
                        <p class="single-out-link">
                            <a href="metal-sheets/" title="Super Booster 2000">Więcej informacji...</a>
                        </p>
                    </div>
                    <div>
                        <a class="image-loading" href="metal-sheets/" title="Super Booster 2000">
                            <img src="/assets/images/super-booster-2000/equipment/metal-sheet/detail1-w1120.jpg" alt="Super Booster 2000"/>
                        </a>
                    </div>
                </div>
            </section>
        </article>
    </main>
{% endblock %}