{% extends "templates/layout.njk" %}
{% set tab = "products" %}

{% block meta %}
    <link rel="canonical" href="https://patryktrajder.com/products/super-booster-2000/equipment/"/>
    <title>Wyposażenie | Wykrawarka do rur | Patryk Trajder</title>
{% endblock meta %}

{% block body %}
    <main>
        <article class="gap-top preview-list">
            <h1 class="gap-bottom-medium">
                Wyposażenie do Super Booster 2000
            </h1>
            <section style="background: #f4f9ff; padding: 1rem;">
                <h2>
                    <a href="super-booster-2000/" title="Super Booster 2000">Same blachy do złożenia</a>
                </h2>
                <h4 style="color: #999999; margin-top: 0.5rem;">Super tanio tanio tanio tanio</h4>
                <div class="row gap-top">
                    <div>
                        <p>
                            Super tanio tanio tanio tanio
                        </p>
                        <p class="single-out-link">
                            <a href="super-booster-2000/" title="Super Booster 2000">Więcej informacji...</a>
                        </p>
                    </div>
                    <div>
                        <a href="super-booster-2000/" title="Super Booster 2000">
                            <img src="/assets/images/super-booster-2000/thumb-w1120.jpg" alt="Super Booster 2000"/>
                        </a>
                    </div>
                </div>
            </section>
        </article>
    </main>
{% endblock %}