{% extends "templates/layout.njk" %}
{% set tab = "products" %}

{% block body %}
    <main>
        <article>
            <header class="gap-top">
                <h1>Tube Notcher - Super Booster 2000 - Instrukcja montażu</h1>
            </header>
            <section>
                <p>W najbliższym czasie dodam informacje do poszczególnych kroków ;)</p>
                <div class="row gap-top">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/1.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/1-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/2.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/2-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/3.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/3-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/4.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/4-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/5.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/5-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/6.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/6-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/7.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/7-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/8.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/8-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/9.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/9-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/10.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/10-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/11.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/11-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/12.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/12-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/13.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/13-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/14.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/14-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/15.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/15-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/16.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/16-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/17.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/17-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/18.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/18-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/19.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/19-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/20.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/20-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/21.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/21-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/22.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/22-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/23.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/23-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/24.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/24-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/25.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/25-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/26.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/26-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/27.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/27-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/28.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/28-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/29.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/29-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/30.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/30-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/31.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/31-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/32.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/32-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/33.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/33-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/34.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/34-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/35.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/35-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/36.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/36-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/37.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/37-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/38.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/38-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/39.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/39-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/40.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/40-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a href="/assets/images/super-booster-2000/instruction/41.jpg" target="_blank"><img src="/assets/images/super-booster-2000/instruction/41-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>

            </section>
        </article>
    </main>
{% endblock %}