{% extends "templates/layout.njk" %}
{% set tab = "products" %}

{% block body %}
    <main>
        <article>
            <header class="topGap">
                <h1>Tube Notcher - Super Booster 2000 - Instrukcja montażu</h1>
            </header>
            <section>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/1.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/2.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/3.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/4.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/5.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/6.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/7.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/8.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/9.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/10.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/11.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/12.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/13.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/14.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/15.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/16.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/17.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/18.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/19.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/20.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/21.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/22.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/23.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/24.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/25.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/26.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/27.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/28.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/29.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/30.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/31.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/32.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/33.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/34.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/35.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/36.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/37.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/38.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/39.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/40.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div><img src="/assets/images/superBooster2000/instruction/41.jpg"/></div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>

            </section>
        </article>
    </main>
{% endblock %}