{% extends "templates/layout.njk" %}
{% set tab = "products" %}

{% block meta %}
    <link rel="canonical" href="https://patryktrajder.com/products/super-booster-2000/instruction/"/>
    <title>Instrukcja montażu | Wykrawarka do rur | Patryk Trajder</title>
{% endblock meta %}

{% block body %}
    <main>
        <article>
            <header class="gap-top">
                <h1>Tube Notcher - Super Booster 2000 - Instrukcja montażu</h1>
            </header>
            <section>
                <p>Ten artykuł zawiera instrukcję montażu zestawu modelowego wykrawarki do samodzielnego montażu. Oczywiście, ile spawaczy, tyle możliwości złożenia. Poniżej przedstawiam Tobie mój sposób. ;)
                </p>
                <div class="row gap-top">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/1.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/1-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Przed przystąpieniem do właściwego spawania, warto przyheftować od dołu płaskowniki, czy cokolwiek innego, co akurat mamy pod ręką (nie ma ich w zestawie, ponieważ podniosłyby cenę - a zależy mi, aby była jak najniższa). Wychodzę z założenia, że każdy z nas ma jakieś odpady materiału, które sprawdzą się tutaj idealnie.</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/2.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/2-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>W kolejnym kroku warto zabielić miejsca spawania. Celowo nie zrobiłem tego sam, ponieważ w transporcie mogłyby zardzewieć. Pokrycie olejem dawało marny skutek, ponieważ więcej czasu trwa odtłuszczanie, niż zabielanie tych kilku miejsc. ;)
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/3.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/3-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>zgodnie z rysunkiem montujemy&#32;<q>trójkąty</q>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/4.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/4-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p></p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/5.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/5-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p></p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/6.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/6-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Generalnie poszczególne części pasują do siebie jak puzzle, jednak mają minimalny luz aby nie blokowały się podczas montażu. Warto więc przed zrobiebiem spawów szczepnych przyłożyć kątownik i upewnić się że jest wszystko idealnie równo. ;)
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/7.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/7-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Po raz kolejny polecam Tobie przed przystąpieniem do właściwego spawania przyspawać na górze naszych&#32;<q>trójkątów</q>&#32;płaskownik, czy cokolwiek innego, co akurat mamy pod ręką (nie ma ich w zestawie), aby zapobiec ewentualnym odkształcenią podczas spawania ;)
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/8.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/8-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>czas na spawanie, do tego celu potrzebujemy jakąkolwiek spawarkę: mma, tig lub elektrody.</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/9.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/9-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Jak możesz zauważyć, na zdjęciu obok miejsce, gdzie trzeba przyspawać&#32;<q>słupek z gwintem</q>, zostało na trasowane poprzez grawer laserem z dokładnością do 1 setnej milimetra, dzięki czemu nie musisz martwić się o pomiary we własnym zakresie.</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/10.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/10-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>
                            Wystarczy postawić&#32;<q>słupek z gwintem</q>&#32;równo do linii.</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/11.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/11-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Przed spawaniem warto założyć ścisk tak, aby docisnąć nasz słupek z gwintem do głównej blachy.</p>
                    </div>
                </div>

                <div class="row">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/14.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/14-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/15.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/15-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Przed przystąpieniem do piaskowania, warto zabezpieczyć gwinty poprzez wkręcenie w nie zwykłej śruby.</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/16.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/16-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>*piaskowanie*</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/17.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/17-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>*malowanie* - oczywiście polecam na pomarańczowy ;)</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/18.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/18-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p></p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/19.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/19-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Montujemy podkładkę ślizgową.</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/20.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/20-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p></p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/21.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/21-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Za pomocą śruby M12 skręcamy dwie największe blachy do siebie.</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/22.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/22-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p></p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/23.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/23-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p></p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/24.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/24-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/25.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/25-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/26.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/26-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/27.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/27-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/28.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/28-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/29.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/29-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/30.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/30-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/31.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/31-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/32.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/32-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/33.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/33-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/34.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/34-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/35.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/35-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/36.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/36-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/37.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/37-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/38.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/38-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/39.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/39-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading ratio3to2" href="/assets/images/super-booster-2000/instruction/40.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/40-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="image-loading" href="/assets/images/super-booster-2000/instruction/41.jpg" target="_blank" title="Powiększ zdjęcie"><img src="/assets/images/super-booster-2000/instruction/41-w1120.jpg"/></a>
                    </div>
                    <div>
                        <p>Opis kroku</p>
                    </div>
                </div>

            </section>
        </article>
    </main>
{% endblock %}