{% extends "templates/layout-en-gb.njk" %}
{% set tab = "products" %}

{% block meta %}
    <link rel="canonical" href="https://patryktrajder.com/en-gb/products/super-booster-2000/equipment/metal-sheets/"/>
    <meta name="description" content="Zestaw blach wycinanych laserem CNC do budowy wykrawarki / otwornicy do łączenia rur i profili cienko i grubościennych pod dowolnym kątem. Zacznij zakupy już dziś!">
    <title>Metal sheets set | Equipment | Pipe cutter | Patryk Trajder</title>
{% endblock meta %}

{% block vectors %}
    {% include "vectors/arrow-left.sym" %}
    {% include "vectors/arrow-right.sym" %}
    {% include "vectors/chevron-up.sym" %}
    {% include "vectors/chevron-down.sym" %}
    {% include "vectors/close.sym" %}
    {% include "vectors/home.sym" %}
    {% include "vectors/mail.sym" %}
    {% include "vectors/messenger.sym" %}
{% endblock %}

{% block body %}
    <main>
        <article>
            <header class="gap-top">
                <nav class="breadcrumbs">
                    <span>
                        <a href="/en-gb/">
                            <svg class="home icon">
                                <use xlink:href="#icon-home"></use>
                            </svg>
                        </a>
                        <svg class="icon">
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </span>
                    <span>
                        <a href="/en-gb/products/">Products</a>
                        <svg class="icon">
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </span>
                    <span>
                        <a href="/en-gb/products/super-booster-2000/">Super Booster 2000</a>
                        <svg class="icon">
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </span>
                    <span>
                        <a href="/en-gb/products/super-booster-2000/equipment/">Equipment</a>
                        <svg class="icon">
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </span>
                    <a href="/en-gb/products/super-booster-2000/equipment/metal-sheets/">
                        <b>Laser cut sheets</b>
                    </a>
                </nav>
                <h1 class="gap-top">Laser cut sheet metal - Elements for punching machine construction Super Booster 2000.</h1>
            </header>

            <section class="row">
                <div class="gallery">
                    <div class="full">
                        <div class="container">
                            <img/>
                            <button class="close">
                                <svg class="icon">
                                    <use xlink:href="#icon-close"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="preview">
                        <div class="image-loading">
                            <img src="/assets/images/super-booster-2000/equipment/metal-sheet/detail1-h400.jpg" alt="all laser cut sheets"/>
                            <div class="overlay"></div>
                        </div>
                    </div>
                    <div class="slider">
                        <div class="wrapper">
                            <div class="items">
                                <img draggable="false" src="/assets/images/super-booster-2000/equipment/metal-sheet/detail1-h100.jpg" alt="all laser-cut sheets - thumbnail"/>
                                <img draggable="false" src="/assets/images/super-booster-2000/equipment/metal-sheet/detail2-h100.jpg" alt="laser cut metal sheets"/>
                                <img draggable="false" src="/assets/images/super-booster-2000/equipment/metal-sheet/detail3-h100.jpg" alt="laser engraver"/>
                                <img draggable="false" src="/assets/images/super-booster-2000/equipment/metal-sheet/detail4-h100.jpg" alt="pins and bolts"/>
                                <img draggable="false" src="/assets/images/super-booster-2000/equipment/metal-sheet/detail5-h100.jpg" alt="metal plate with holes"/>
                            </div>
                        </div>
                        <button class="arrow left" aria-label="Previous">
                            <svg class="icon">
                                <use xlink:href="#icon-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="arrow right" aria-label="Next">
                            <svg class="icon">
                                <use xlink:href="#icon-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="product-details">
                    <h2>Price</h2>
                    <div class="price">
                        <h3>
                            <span class="value">79</span>,<span class="cents">99</span>&#32;USD (Gross)</h3>
                    </div>
                    <div class="contact">
                        <a class="messenger" href="https://www.messenger.com/t/patryktrajder" rel="noreferrer" target="_blank" title="Write to me on Messenger">
                            <svg class="icon">
                                <use xlink:href="#icon-messenger"></use>
                            </svg>Messenger</a>
                        <a class="email" href="mailto:sklep@trajder.com" target="_blank" title="sklep@trajder.com">
                            <svg class="icon">
                                <use xlink:href="#icon-mail"></use>
                            </svg>Email</a>
                    </div>
                    <div class="availability">
                        <p>Available from&#32;<s>stock</s>&#32;garage.</p>
                    </div>
                </div>
            </section>

            <section>
                <div class="row gap-top">
                    <div>
                        <p>
                            In this offer you will find only sheets cut out by CNC laser. These parts are the most difficult to make and at the same time necessary to build a pipe punching machine - Super Booster 2000. Buying the sheets themselves we can save money by making the remaining elements on our own. I designed the whole idea of the construction already 5 years ago, since then I have been trying to make modifications all the time to make it the best possible.
                            <br>
                            In the color photo next to it you can see what the set will look like when you assemble the sheets from this auction and make the missing items.
                            <p class="gap-top warning">Note, this kit only contains CNC sheets. You have to make the rest of the elements on your own or buy a ready-made set.&#32;<a href="/en-gb/products/super-booster-2000/" title="Super Booster 2000">Here</a>.
                            </p>
                        </p>
                    </div>
                    <div>
                        <div class="image-loading">
                            <img src="/assets/images/super-booster-2000/thumb-w1120.jpg" alt="tube notcher presentation of the painted machine"/>
                        </div>
                    </div>
                </div>

                <div>
                    <p class="single-out">The set includes:</p>

                    <ul class="dots">
                        <li>
                            <p>
                                ‌11x sheets cut out by laser (prepared for welding by processing edges, holes, threading, etc.; accuracy of cut out elements is 0.03 MM, cut out on one of the best laser sources available),
                            </p>
                        </li>
                        <li>
                            <p>‌1x Engraved angle bar with logo - currently free (purchase price 9 USD),
                            </p>
                        </li>
                        <li>
                            <p>1x rivet for accurate reading of the current angle,
                            </p>
                        </li>
                        <li>
                            <p>
                                1x angle lock, for repeatable cuts,
                            </p>
                        </li>
                        <li>
                            <p>1x pin - for pressure,</p>
                        </li>
                        <li>
                            <p>1x main screw/axis connecting plate M12.</p>
                        </li>
                    </ul>

                    <p class="gap-top">
                        Kit prepared for assembly. The time needed to assemble a set of sheets is about 20 minutes. Below is a list with the necessary tools needed for construction.
                    </p>

                    <p class="gap-top warning">Note, this kit only contains CNC sheets. You have to make the rest of the elements on your own or buy a ready-made set.&#32;<a href="/en-gb/products/super-booster-2000/" title="Super Booster 2000">Here</a>.
                    </p>
                </div>

                <div class="expander materials shrink gap-top">
                    <header>
                        <p>Tools needed to assemble the set</p>
                    </header>
                    <div class="container">
                        <ul class="dots">
                            <li>
                                <p>Any welding machine, e.g. TIG, MIG, MAG, MMA (electrodes),</p>
                            </li>
                            <li>
                                <p>Angle grinder (for whitening welded spots),</p>
                            </li>
                            <li>
                                <p>angle finder,</p>
                            </li>
                            <li>
                                <p>2× woodworker's squeeze,</p>
                            </li>
                            <li>
                                <p>8 mm flat-eye wrench,</p>
                            </li>
                            <li>
                                <p>19 mm flat-eye wrench,</p>
                            </li>
                            <li>
                                <p>optionally a hammer,</p>
                            </li>
                            <li>
                                <p>typical protective clothing: protective goggles for sander, welding gloves etc. ;)</p>
                            </li>
                        </ul>
                    </div>
                    <button>
                        <svg class="icon">
                            <use xlink:href="#icon-chevron-down"></use>
                        </svg>
                    </button>
                </div>

                <p class="single-out-link">
                    <a href="../../instruction/" title="Instrukcja montażu">Installation instructions</a>
                </p>

                <div class="row gap-top">
                    <div>
                        <div class="image-loading">
                            <img src="/assets/images/super-booster-2000/equipment/metal-sheet/detail2-w1120.jpg" alt="pipe punching machine components"/>
                        </div>
                    </div>
                    <div>
                        <p>
                            I designed the whole folding set in such a way as to make it easy to assemble, so that even a novice DIY enthusiast wouldn't have any problems with it, and the whole folding process was more like fun than work. 😉
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div>
                        <div class="image-loading ratio3to2">
                            <img src="/assets/images/super-booster-2000/detail3-w1120.jpg" alt="angle finder for tube notcher"/>
                        </div>
                    </div>
                    <div>
                        <p>
                            The specially calibrated angle bar will be your best friend at work, as it will save you a lot of time and I will make sure the cuts are repeatable 😉.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div>
                        <div class="image-loading">
                            <img src="/assets/images/super-booster-2000/detail5-w1120.jpg" alt="sheet metal with holes for attaching the bearings"/>
                        </div>
                    </div>
                    <div>
                        <p>
                            Thanks to the use of beans for fixing the bearings, we have the possibility of very quick adjustment, and most importantly, infinitely variable. This is especially important when we want to change the size of a pipe or profile frequently.
                        </p>
                    </div>
                </div>
            </section>
            <section class="gap-top-medium">

                <p>
                    Below I present to you a film showing the capabilities of my razor. The film has not been updated yet and shows the old model of the razor. The newer version has been improved, but the principle of work and editing is the same so I took the liberty of temporarily adding the film 😉.
                </p>

                <div class="yt-video">
                    <div>
                        <iframe src="https://www.youtube-nocookie.com/embed/OaNSVxAPvso?rel=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" title="Super Booster 2000 - prezentacja"></iframe>
                    </div>
                </div>
            </section>
        </article>
    </main>
{% endblock %}